# Run Expectancy

## Context

In the previous sessions we compared player abilities using season-long averages. The capacity to reach bases *on average* is a reasonable measure of ability given the large number of appearances of the better players. However, an average of this kind is independent of context. To take an extreme example, On Base Percentage (OBP) gives as much credit to a walk when there are no runners on the bases as it does to a walk when bases are loaded, which produces an additional run. A lot of statistical analysis in baseball seeks to take account of the context of an event: a hit is more valuable in some circumstances than in others.


## Run Expectancy

Run expectancy is a very powerful framework for identifying certain aspects of performance. Specifically, run expectancy values the ability of batters to move runners around the bases taking into account (i) the state of the runners on base at any one point in time and (ii) the number of outs.

### An Example:

The example below shows the impact of a batter reaching first base in two different cases, (a) and (b). Suppose that in each case there is one out, but in case (a) there is a runner on second base while in case (b) there is a runner on third base. We want to compare the state of the game before and after the batter's hit.

<!-- ![hit%20and%20base%20states.PNG](attachment:hit%20and%20base%20states.PNG) -->

In case (a), the batter reaches first base and the runner on second advances to third base as a result of the hit. No runs are scored, but the run potential of the new state is high given two runners on base with one on third. In case (b) the batter reaches first base and the runner on third scores, adding one run to the total. Evaluating the contribution of the batter in this context is not always intuitive. While the scoring of the run is valuable, and the batter should get credit for advancing the runner, he wasn't responsible for getting the runner to third base in the first place. After the play, the run potential in case (b) is much lower because there is now no runner on third, in constrast to case (a). Thus while the overall value of the hit in case (b) might seem much greater (because a run was scored), the lower run expectancy of the bases after the event will make the difference in the value of the hit much smaller.


## The Run Expectancy Matrix

Our goal is to place a value in terms of expected runs arising from a given event (out, single, double, etc). To do this we need to evaluate the run expectancy before and after the event - the value of the event is thus the change in run expectancy. We code each state by defining a matrix of possible states.

<!-- ![The%20RE%20matrix.PNG](attachment:The%20RE%20matrix.PNG) -->

Thus the run expectancy matrix distinguishes 24 different states (contexts) for an event. We can refer to each possible state in terms of our code. Thus "000 2" means "no runners on base and two outs" or "101 1" means "a runner on first and third with one out". Instead of using a matrix, we can simply write down the possible states as a long list:

<!-- ![states%20long%20list.PNG](attachment:states%20long%20list.PNG) -->

The run expectancy matrix is used to calculate the number of runs expected to be scored in a given state *until the end of the inning*.

In statistics, the concept of *expected value* refers to the value of all possible events weighted by the probability of that outcome. Furthermore, probabilities in statistics are usually identified with the frequency with which such events occur. Such probabilities are considered credible if they are calculated using a large numbers of observations.

Run expectancy in a given state is calculated as the average of the number of runs scored from that state to the end of the inning, calculated from all events in a given season. In a Major League Baseball season there are typically around 200,000 events, which gives us some confidence in the reliability of the expected values.


## Run Value and Run Expectancy

There are many ways we can use the run expectancy matrix once we have calculated it. The most obvious is to value the contributions of the batters. Consider a particular at-bat. There is a run expectancy (RE) before the event and after the event, but there may also be runs scored as a result of the event. Thus, for that event we can credit the batter with a run value (RV):

**RV = Runs scored + RE (after at-bat) - RE (before at-bat)**

Note that RV may be both positive and negative. The contributions of a batter across a season can be calculated as the sum of the RVs of all their at-bats in a season.

# Coding Run Expectancy and MLBAM Data

It is possible to calculate the run expectancy matrix using Retrosheet data which goes back many years. However, the coding is somewhat involved (for an excellent description using R see Marchi and Albert (2013), Analyzing Baseball Data with R, chapter 5 - advanced coders can convert this to Python). In recent years, Major League Baseball Advanced Media (MLBAM) has published an event file each season which makes this calculation easy.

We use this data below to generate the run expectancy matrix for the 2018 season.

In [ ]:
# Load packages
import pandas as pd
import numpy as np

In [ ]:
# Read in MLBAM Data for 2018

MLBAM18 = pd.read_csv("../Data/MLBAM18.csv")

# Drop column with no relevant information
MLBAM18.drop(['Unnamed: 0'], axis=1, inplace=True)

pd.set_option('display.max_columns', 100)
display(MLBAM18)

,inning,batterId,pitcherId,event,x,y,ab_num,timestamp,stand,throws,runnerMovement,half,balls,strikes,endOuts,actionId,description,game_type,home_team,home_teamId,home_lg,away_team,away_teamId,away_lg,venueId,stadium,field_teamId,playerId.1B,playerId.2B,playerId.3B,playerId.C,playerId.CF,playerId.LF,playerId.RF,playerId.SS,batterPos,batterName,pitcherName,runsOnPlay,startOuts,runsInInning,runsITD,runsFuture,start1B,start2B,start3B,end1B,end2B,end3B,outsInInning,startCode,endCode,fielderId,gameId,isPA,isAB,isHit,isBIP,our.x,our.y,r,theta
0,1,664023,570632,Home Run,233.22,70.48,1,2018-03-29 16:43:11,L,R,[664023:::T:Home Run],top,0,0,0,NaN,Ian Happ homers (1) on a fly ball to right fie...,R,mia,146,NL,chn,112,NL,4169,Marlins Park,146,571506,516770,605119,595453,621446,518618,643265,500743,CF,"Happ, I",Urena,1,0,3,0,3,NaN,NaN,NaN,NaN,NaN,NaN,3,0,0,NaN,gid_2018_03_29_chnmlb_miamlb_1,True,True,True,False,270.081515,320.743636,419.309557,0.870937
1,1,592178,570632,Walk,NaN,NaN,2,2018-03-29 16:43:56,R,R,[592178::1B::Walk],top,4,2,0,NaN,Kris Bryant walks.,R,mia,146,NL,chn,112,NL,4169,Marlins Park,146,571506,516770,605119,595453,621446,518618,643265,500743,3B,Bryant,Urena,0,0,3,1,2,NaN,NaN,NaN,592178.0,NaN,NaN,3,0,1,NaN,gid_2018_03_29_chnmlb_miamlb_1,True,False,False,False,NaN,NaN,NaN,NaN
2,1,519203,570632,Hit By Pitch,NaN,NaN,3,2018-03-29 16:46:24,L,R,[592178:1B:2B::Hit By Pitch][519203::1B::Hit B...,top,1,2,0,NaN,Anthony Rizzo hit by pitch. Kris Bryant to ...,R,mia,146,NL,chn,112,NL,4169,Marlins Park,146,571506,516770,605119,595453,621446,518618,643265,500743,1B,Rizzo,Urena,0,0,3,1,2,592178.0,NaN,NaN,519203.0,592178.0,NaN,3,1,3,NaN,gid_2018_03_29_chnmlb_miamlb_1,True,False,False,False,NaN,NaN,NaN,NaN
3,1,575929,570632,Strikeout,NaN,NaN,4,2018-03-29 16:48:44,R,R,NaN,top,2,3,1,NaN,Willson Contreras strikes out swinging.,R,mia,146,NL,chn,112,NL,4169,Marlins Park,146,571506,516770,605119,595453,621446,518618,643265,500743,C,Contreras,Urena,0,0,3,1,2,519203.0,592178.0,NaN,519203.0,592178.0,NaN,3,3,3,NaN,gid_2018_03_29_chnmlb_miamlb_1,True,True,False,False,NaN,NaN,NaN,NaN
4,1,656941,570632,Groundout,148.05,164.76,5,2018-03-29 16:52:10,L,R,[519203:1B:2B::Groundout][592178:2B:3B::Ground...,top,2,2,2,NaN,"Kyle Schwarber grounds out, first baseman Just...",R,mia,146,NL,chn,112,NL,4169,Marlins Park,146,571506,516770,605119,595453,621446,518618,643265,500743,LF,Schwarber,Urena,0,1,3,1,2,519203.0,592178.0,NaN,NaN,519203.0,592178.0,3,3,6,571506.0,gid_2018_03_29_chnmlb_miamlb_1,True,True,False,True,57.525216,85.451775,103.010467,0.978292
5,1,608365,570632,Hit By Pitch,NaN,NaN,6,2018-03-29 16:54:56,R,R,[608365::1B::Hit By Pitch],top,1,1,2,NaN,Addison Russell hit by pitch.,R,mia,146,NL,chn,112,NL,4169,Marlins Park,146,571506,516770,605119,595453,621446,518618,643265,500743,SS,Russell,Urena,0,2,3,1,2,NaN,519203.0,592178.0,608365.0,519203.0,592178.0,3,6,7,NaN,gid_2018_03_29_chnmlb_miamlb_1,True,False,False,False,NaN,NaN,NaN,NaN
6,1,518792,570632,Walk,NaN,NaN,7,2018-03-29 16:56:54,L,R,[608365:1B:2B::Walk][519203:2B:3B::Walk][59217...,top,4,0,2,NaN,Jason Heyward walks. Kris Bryant scores. ...,R,mia,146,NL,chn,112,NL,4169,Marlins Park,146,571506,516770,605119,595453,621446,518618,643265,500743,RF,Heyward,Urena,1,2,3,1,2,608365.0,519203.0,592178.0,518792.0,608365.0,519203.0,3,7,7,NaN,gid_2018_03_29_chnmlb_miamlb_1,True,False,False,False,NaN,NaN,NaN,NaN
7,1,595879,570632,Hit By Pitch,NaN,NaN,8,2018-03-29 16:59:56,R,R,[518792:1B:2B::Hit By Pitch][608365:2B:3B::Hit...,top,0,0,2,NaN,Javier Baez hit by pitch. Anthony Rizzo sco...,R,mia,146,NL,chn,112,NL,4169,Marlins Park,146,571506,516770,605119,595453,621446,518618,643265,500743,2B,"Baez, J",Urena,1,2,3,2,1,518792.0,608365.0,519203.0,595879.0,518792.0,608365.0,3,7,7,NaN,gid_2018_03_29_chnmlb_miamlb_1,True,False,False,False,NaN,NaN,NaN,NaN
8,1,452657,570632,Groundout,143.81,152.04,9,2018-03-29 17:01:12,L,R,[595879:1B:::Groundout][518792:2B:::Groundout]...,top,2,2,3,NaN,"Jon Lester grounds out, second baseman Starlin...",R,mia,146,NL,chn,112,NL,4169,Marlins Park,146,571506,516770,605119,595453,621446,518618,643265,500743,P,Lester,Urena,0,2,3,3,0,595879.0,518792.0,608365.0,NaN,NaN,NaN,3,7,0,516770.0,gid_2018_03_29_chnmlb_miamlb_1,True,True,False,True,46.943571,117.196710,126.248832,1.189813
9,1,621446,452657,Groundout,106.86,151.43,10,2018-03-29 17:06:02,R,L,NaN,bottom,1,1,1,NaN,"Lewis Brinson grounds out, shortstop Addison R...",R,mia,146,NL,chn,112,NL,4169,Marlins Park,112,519203,595879,592178,575929,664023,656941,518792,608365,CF,Brinson,Lester,0,0,1,0,1,NaN,NaN,NaN,NaN,NaN,NaN,3,0,0,608365.0,gid_2018_03_29_chnmlb_miamlb_1,True,True,False,True,-45.271472,118.719069,127.057953,1.935107
10,1,518618,452657,Groundout,146.83,149.62,11,2018-03-29 17:07:09,L,L,NaN,bottom,1,1,2,NaN,"Derek Dietrich grounds out, second baseman Jav...",R,mia,146,NL,chn,112,NL,4169,Marlins Park,112,519203,595879,592178,575929,664023,656941,518792,608365,LF,Dietrich,Lester,0,1,1,0,1,NaN,NaN,NaN,NaN,NaN,NaN,3,0,0,595879.0,gid_2018_03_29_chnmlb_miamlb_1,True,True,False,True,54.480498,123.236234,134.741582,1.154547
11,1,516770,452657,Single,99.59,152.65,12,2018-03-29 17:08:22,R,L,[516770::2B::Error],bottom,3,2,2,NaN,Starlin Castro singles on a sharp ground ball ...,R,mia,146,NL,chn,112,NL,4169,Marlins Park,112,519203,595879,592178,575929,664023,656941,518792,608365,2B,"Castro, S",Lester,0,2,1,0,1,NaN,NaN,NaN,NaN,516770.0,NaN,3,0,2,NaN,gid_2018_03_29_chnmlb_miamlb_1,True,True,True,True,-63.415000,115.674350,131.916707,2.072272
12,1,571506,452657,Walk,NaN,NaN,13,2018-03-29 17:10:57,L,L,[571506::1B::Walk],bottom,4,2,2,NaN,Justin Bour walks.,R,mia,146,NL,chn,112,NL,4169,Marlins Park,112,519203,595879,592178,575929,664023,656941,518792,608365,1B,Bour,Lester,0,2,1,0,1,NaN,516770.0,NaN,571506.0,516770.0,NaN,3,2,3,NaN,gid_2018_03_29_chnmlb_miamlb_1,True,False,False,False,NaN,NaN,NaN,NaN
13,1,605119,452657,Single,146.68,106.14,14,2018-03-29 17:13:35,R,L,[571506:1B:2B::Single][516770:2B::T:Single][60...,bottom,0,1,2,NaN,Brian Anderson singles on a line drive to cent...,R,mia,146,NL,chn,112,NL,4169,Marlins Park,112,519203,595879,592178,575929,664023,656941,518792,608365,3B,"Anderson, B",Lester,1,2,1,0,1,571506.0,516770.0,NaN,605119.0,571506.0,NaN,3,3,3,NaN,gid_2018_03_29_chnmlb_miamlb_1,True,True,True,True,54.106147,231.748008,237.980282,1.341435
14,1,643265,452657,Forceout,NaN,NaN,15,2018-03-29 17:14:44,R,L,[605119:1B:::Forceout][571506:2B:::Forceout],bottom,0,0,3,NaN,"Garrett Cooper grounds into a force out, field...",R,mia,146,NL,chn,112,NL,4169,Marlins Park,112,519203,595879,592178,575929,664023,656941,518792,608365,RF,Cooper,Lester,0,2,1,1,0,605119.0,571506.0,NaN,NaN,NaN,NaN,3,3,0,592178.0,gid_2018_03_29_chnmlb_miamlb_1,True,True,False,False,NaN,NaN,NaN,NaN
15,2,664023,570632,Strikeout,NaN,NaN,16,2018-03-29 17:17:16,L,R,NaN,top,2,3,1,NaN,Ian Happ strikes out swinging.,R,mia,146,NL,chn,112,NL,4169,Marlins Park,146,571506,516770,605119,595453,621446,518618,643265,500743,CF,"Happ, I",Urena,0,0,1,0,1,NaN,NaN,NaN,NaN,NaN,NaN,3,0,0,NaN,gid_2018_03_29_chnmlb_miamlb_1,True,True,False,False,NaN,NaN,NaN,NaN
16,2,592178,570632,Lineout,92.88,167.84,17,2018-03-29 17:19:35,R,R,NaN,top,1,2,2,NaN,Kris Bryant lines out to third baseman Brian A...,R,mia,146,NL,chn,112,NL,4169,Marlins Park,146,571506,516770,605119,595453,621446,518618,643265,500743,3B,Bryant,Urena,0,1,1,0,1,NaN,NaN,NaN,NaN,NaN,NaN,3,0,0,605119.0,gid_2018_03_29_chnmlb_miamlb_1,True,True,False,True,-80.160952,77.765108,111.683438,2.371364
17,2,519203,570632,Home Run,232.95,69.85,18,2018-03-29 17:20:54,L,R,[519203:::T:Home Run],top,0,0,2,NaN,Anthony Rizzo homers (1) on a fly ball to righ...,R,mia,146,NL,chn,112,NL,4169,Marlins Park,146,571506,516770,605119,595453,621446,518618,643265,500743,1B,Rizzo,Urena,1,2,1,0,1,NaN,NaN,NaN,NaN,NaN,NaN,3,0,0,NaN,gid_2018_03_29_chnmlb_miamlb_1,True,True,True,False,269.407684,322.315909,420.080998,0.874575
18,2,575929,570632,Pop Out,169.25,185.35,19,2018-03-29 17:21:44,R,R,NaN,top,1,1,3,NaN,Willson Contreras pops out to first baseman Ju...,R,mia,146,NL,chn,112,NL,4169,Marlins Park,146,571506,516770,605119,595453,621446,518618,643265,500743,C,Contreras,Urena,0,2,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,3,0,0,571506.0,gid_2018_03_29_chnmlb_miamlb_1,True,True,False,True,110.433441,34.065909,115.568296,0.299213
19,2,500743,452657,Groundout,137.14,147.19,20,2018-03-29 17:25:31,R,L,NaN,bottom,1,2,1,NaN,"Miguel Rojas grounds out, second baseman Javie...",R,mia,146,NL,chn,112,NL,4169,Marlins Park,112,519203,595879,592178,575929,664023,656941,518792,608365,SS,Rojas,Lester,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,3,0,0,595879.0,gid_2018_03_29_chnmlb_miamlb_1,True,True,False,True,30.297446,129.300714,132.802899,1.340631
20,2,595453,452657,Walk,NaN,NaN,21,2018-03-29 17:27:03,R,L,[595453::1B::Walk],bottom,4,2,1,NaN,Chad Wallach walks.,R,mia,146,NL,chn,112,NL,4169,Marlins Park,112,519203,595879,592178,575929,664023,656941,518792,608365,C,Wallach,Lester,0,1,0,0,0,NaN,NaN,NaN,595453.0,NaN,NaN,3,0,1,NaN,gid_2018_03_29_chnmlb_miamlb_1,True,False,False,False,NaN,NaN,NaN,NaN
21,2,570632,452657,Strikeout,NaN,NaN,22,2018-03-29 17:29:17,R,L,NaN,bottom,2,3,2,NaN,Jose Urena strikes out on a foul bunt.,R,mia,146,NL,chn,112,NL,4169,Marlins Park,112,519203,595879,592178,575929,664023,656941,518792,608365,P,Urena,Lester,0,1,0,0,0,595453.0,NaN,NaN,595453.0,NaN,NaN,3,1,1,NaN,gid_2018_03_29_chnmlb_miamlb_1,True,True,False,False,NaN,NaN,NaN,NaN
22,2,621446,452657,Forceout,NaN,NaN,23,2018-03-29 17:31:48,R,L,[595453:1B:::Forceout],bottom,1,0,3,NaN,"Lewis Brinson grounds into a force out, shorts...",R,mia,146,NL,chn,112,NL,4169,Marlins Park,112,519203,595879,592178,575929,664023,656941,518792,608365,CF,Brinson,Lester,0,2,0,0,0,595453.0,NaN,NaN,NaN,NaN,NaN,3,1,0,608365.0,gid_2018_03_29_chnmlb_miamlb_1,True,True,False,False,NaN,NaN,NaN,NaN
23,3,656941,570632,Groundout,162.58,143.56,24,2018-03-29 17:35:00,L,R,NaN,top,0,0,1,NaN,"Kyle Schwarber grounds out, second baseman Sta...",R,mia,146,NL,chn,112,NL,4169,Marlins Park,146,571506,516770,605119,595453,621446,518618,643265,500743,LF,Schwarber,Urena,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,3,0,0,516770.0,gid_2018_03_29_chnmlb_miamlb_1,True,True,False,True,93.787316,138.360000,167.151279,0.975091
24,3,608365,570632,Single,116.55,83.60,25,2018-03-29 17:36:26,R,R,[608365::1B::Single],top,3,1,1,NaN,Addison Russell singles on a line drive to cen...,R,mia,146,NL,chn,112,NL,4169,Marlins Park,146,571506,516770,605119,595453,621446,518618,643265,500743,SS,Russell,Urena,0,1,0,0,0,NaN,NaN,NaN,608365.0,NaN,NaN,3,0,1,NaN,gid_2018_03_29_chnmlb_miamlb_1,True,True,True,True,-21.088420,288.000433,288.771485,1.643889
25,3,518792,570632,Double,187.79,129.11,26,2018-03-29 17:37:22,L,R,[608365:1B:3B::Double][518792::2B::Double],top,0,0,1,NaN,Jason Heyward doubles (1) on a line drive to r...,R,mia,146,NL,chn,112,NL,4169,Marlins Park,146,571506,516770,605119,595453,621446,518618,643265,500743,RF,Heyward,Urena,0,1,0,0,0,608365.0,NaN,NaN,NaN,518792.0,608365.0,3,1,6,NaN,gid_2018_03_29_chnmlb_miamlb_1,True,True,True,True,156.703182,174.422446,234.476175,0.838859
26,3,595879,570632,Intent Walk,NaN,NaN,27,2018-03-29 17:37:48,R,R,[595879::1B::Intent Walk],top,4,0,1,NaN,Jose Urena intentionally walks Javier Baez.,R,mia,146,NL,chn,112,NL,4169,Marlins Park,146,571506,516770,605119,595453,621446,518618,643265,500743,2B,"Baez, J",Urena,0,1,0,0,0,NaN,518792.0,608365.0,595879.0,518792.0,608365.0,3,6,7,NaN,gid_2018_03_29_chnmlb_miamlb_1,True,False,False,False,NaN,NaN,NaN,NaN
27,3,452657,570632,Grounded Into DP,NaN,NaN,28,2018-03-29 17:38:13,L,R,[595879:1B:::Grounded Into DP][518792:2B:::Gro...,top,0,1,3,NaN,"Jon Lester grounds into a double play, second ...",R,mia,146,NL,chn,112,NL,4169,Marlins Park,146,571506,516770,605119,595453,621446,518618,643265,500743,P,Lester,Urena,0,1,0,0,0,595879.0,518792.0,608365.0,NaN,NaN,NaN,3,7,0,516770.0,gid_2018_03_29_chnmlb_miamlb_1,True,True,False,False,NaN,NaN,NaN,NaN
28,3,518618,452657,Triple,36.37,73.51,29,2018-03-29 17:41:54,L,L,[518618::3B::Triple],bottom,2,2,0,NaN,Derek Dietrich triples (1) on a fly ball to ce...,R,mia,146,NL,chn,112,NL,4169,Marlins Park,112,519203,595879,592178,575929,664023,656941,518792,608365,LF,Dietrich,Lester,0,0,3,0,3,NaN,NaN,NaN,NaN,NaN,518618.0,3,0,4,NaN,gid_2018_03_29_chnmlb_miamlb_1,True,True,True,True,-221.191320,313.181753,383.416758,2.185719
29,3,516770,452657,Walk,NaN,NaN,30,2018-03-29 17:44:35,R,L,[516770::1B::Walk],bottom,4,1,0,NaN,Starlin Castro walks.,R,mia,146,NL,chn,112,NL,4169,Marlins Park,112,519203,595879,592178,575929,664023,656941,518792,608365,2B,"Castro, S",Lester,0,0,3,0,3,NaN,NaN,518618.0,516770.0,NaN,518618.0,3,4,5,NaN,gid_2018_03_29_chnmlb_miamlb_1,True,False,False,False,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185741,6,455104,621111,Strikeout,NaN,NaN,42,2018-10-01 22:01:10,R,R,NaN,top,3,3,1,NaN,Chris Iannetta strikes out swinging.,R,lan,119,NL,col,115,NL,22,Dodger Stadium,119,571970,571771,457759,518735,641355,592626,624577,592518,UN,Iannetta,Buehler,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,3,0,0,NaN,gid_2018_10_01_colmlb_lanmlb_1,True,True,False,False,NaN,NaN,NaN,NaN
185742,6,453568,621111,Single,155.63,99.48,43,2018-10-01 22:03:31,L,R,[453568::1B::Single],top,1,1,1,NaN,Charlie Blackmon singles on a line drive to ri...,R,lan,119,NL,col,115,NL,22,Dodger Stadium,119,571970,571771,457759,518735,641355,592626,624577,592518,CF,Blackmon,Buehler,0,1,0,0,0,NaN,NaN,NaN,453568.0,NaN,NaN,3,0,1,NaN,gid_2018_10_01_colmlb_lanmlb_1,True,True,True,True,76.442402,248.369177,259.866676,1.272220
185743,6,518934,621111,Groundout,134.02,146.00,44,2018-10-01 22:05:12,R,R,[453568:1B:2B::Groundout],top,1,1,2,NaN,"DJ LeMahieu grounds out, second baseman Enriqu...",R,lan,119,NL,col,115,NL,22,Dodger Stadium,119,571970,571771,457759,518735,641355,592626,624577,592518,2B,LeMahieu,Buehler,0,1,0,0,0,453568.0,NaN,NaN,NaN,453568.0,NaN,3,1,2,571771.0,gid_2018_10_01_colmlb_lanmlb_1,True,True,False,True,22.510952,132.270563,134.172444,1.402223
185744,6,621311,621111,Groundout,153.28,174.90,45,2018-10-01 22:06:41,L,R,[453568:2B:::Groundout],top,0,0,3,NaN,David Dahl grounds out to first baseman Max Mu...,R,lan,119,NL,col,115,NL,22,Dodger Stadium,119,571970,571771,457759,518735,641355,592626,624577,592518,LF,Dahl,Buehler,0,2,0,0,0,NaN,453568.0,NaN,NaN,NaN,NaN,3,2,0,571970.0,gid_2018_10_01_colmlb_lanmlb_1,True,True,False,True,70.577576,60.145671,92.729154,0.705765
185745,6,641355,643466,Pop Out,128.95,168.31,46,2018-10-01 22:09:15,L,L,NaN,bottom,2,0,1,NaN,Cody Bellinger pops out to third baseman Nolan...,R,lan,119,NL,col,115,NL,22,Dodger Stadium,115,435622,518934,571448,547172,453568,621311,471865,596115,CF,Bellinger,Musgrave,0,0,1,0,1,NaN,NaN,NaN,NaN,NaN,NaN,3,0,0,571448.0,gid_2018_10_01_colmlb_lanmlb_1,True,True,False,True,9.857900,76.592143,77.223925,1.442794
185746,6,624577,643466,Lineout,181.63,81.15,47,2018-10-01 22:10:42,R,L,NaN,bottom,0,1,2,NaN,Yasiel Puig lines out to right fielder Carlos ...,R,lan,119,NL,col,115,NL,22,Dodger Stadium,115,435622,518934,571448,547172,453568,621311,471865,596115,RF,Puig,Musgrave,0,1,1,0,1,NaN,NaN,NaN,NaN,NaN,NaN,3,0,0,471865.0,gid_2018_10_01_colmlb_lanmlb_1,True,True,False,True,141.329848,294.114826,326.309144,1.122849
185747,6,571771,643466,Double,214.92,92.16,48,2018-10-01 22:11:47,R,L,[571771::2B::Double],bottom,1,1,2,NaN,Enrique Hernandez hits a ground-rule double (1...,R,lan,119,NL,col,115,NL,22,Dodger Stadium,115,435622,518934,571448,547172,453568,621311,471865,596115,2B,"Hernandez, K",Musgrave,0,2,1,0,1,NaN,NaN,NaN,NaN,571771.0,NaN,3,0,2,NaN,gid_2018_10_01_colmlb_lanmlb_1,True,True,True,True,224.410736,266.637489,348.504991,0.871180
185748,6,621111,643466,Single,170.74,105.28,49,2018-10-01 22:13:35,R,L,[571771:2B::T:Single][621111::1B::Single],bottom,1,0,2,NaN,Walker Buehler singles on a line drive to righ...,R,lan,119,NL,col,115,NL,22,Dodger Stadium,115,435622,518934,571448,547172,453568,621311,471865,596115,P,Buehler,Musgrave,1,2,1,0,1,NaN,571771.0,NaN,621111.0,NaN,NaN,3,2,1,NaN,gid_2018_10_01_colmlb_lanmlb_1,True,True,True,True,114.151991,233.894285,260.263739,1.116755
185749,6,592626,643466,Flyout,0.00,0.00,50,2018-10-01 22:14:45,L,L,[621111:1B:::Flyout],bottom,2,0,3,NaN,Joc Pederson flies out to center fielder Charl...,R,lan,119,NL,col,115,NL,22,Dodger Stadium,115,435622,518934,571448,547172,453568,621311,471865,596115,LF,Pederson,Musgrave,0,2,1,1,0,621111.0,NaN,NaN,NaN,NaN,NaN,3,1,0,453568.0,gid_2018_10_01_colmlb_lanmlb_1,True,True,False,True,-311.958874,496.638527,586.487993,2.131651
185750,7,571448,621111,Flyout,170.53,56.93,51,2018-10-01 22:19:07,R,R,NaN,top,1,2,1,NaN,Nolan Arenado flies out to right fielder Yasie...,R,lan,119,NL,col,115,NL,22,Dodger Stadium,119,571970,571771,457759,518735,641355,592626,624577,592518,3B,Arenado,Buehler,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,3,0,0,624577.0,gid_2018_10_01_colmlb_lanmlb_1,True,True,False,True,113.627900,354.559978,372.322545,1.260662
185751,7,596115,621111,Flyout,178.53,59.82,52,2018-10-01 22:21:05,R,R,NaN,top,0,1,2,NaN,Trevor Story flies out to right fielder Yasiel...,R,lan,119,NL,col,115,NL,22,Dodger Stadium,119,571970,571771,457759,518735,641355,592626,624577,592518,SS,Story,Buehler,0,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,3,0,0,624577.0,gid_2018_10_01_colmlb_lanmlb_1,True,True,False,True,133.593268,347.347489,372.152441,1.203627
185752,7,471865,621111,Walk,NaN,NaN,53,2018-10-01 22:22:05,L,R,[471865::1B::Walk],top,4,1,2,NaN,Carlos Gonzalez walks.,R,lan,119,NL,col,115,NL,22,Dodger Stadium,119,571970,571771,457759,518735,641355,592626,624577,592518,RF,"Gonzalez, C",Buehler,0,2,0,0,0,NaN,NaN,NaN,471865.0,NaN,NaN,3,0,1,NaN,gid_2018_10_01_colmlb_lanmlb_1,True,False,False,False,NaN,NaN,NaN,NaN
185753,7,435622,520980,Walk,NaN,NaN,54,2018-10-01 22:26:44,R,R,[471865:1B:2B::Walk][435622::1B::Walk],top,4,2,2,NaN,Ian Desmond walks. Carlos Gonzalez to 2nd.,R,lan,119,NL,col,115,NL,22,Dodger Stadium,119,571970,571771,457759,518735,641355,592626,624577,592518,1B,Desmond,"Baez, P",0,2,0,0,0,471865.0,NaN,NaN,435622.0,471865.0,NaN,3,1,3,NaN,gid_2018_10_01_colmlb_lanmlb_1,True,False,False,False,NaN,NaN,NaN,NaN
185754,7,407812,520980,Pop Out,124.89,109.50,55,2018-10-01 22:32:55,R,R,[435622:1B:::Pop Out][471865:2B:::Pop Out],top,0,0,3,NaN,Matt Holliday pops out to shortstop Manny Mach...,R,lan,119,NL,col,115,NL,22,Dodger Stadium,119,571970,571771,457759,518735,641355,592626,624577,592518,UN,Holliday,"Baez, P",0,2,0,0,0,435622.0,471865.0,NaN,NaN,NaN,NaN,3,3,0,592518.0,gid_2018_10_01_colmlb_lanmlb_1,True,True,False,True,-0.274524,223.362554,223.362723,1.572025
185755,7,457759,623184,Single,175.08,113.05,56,2018-10-01 22:36:02,R,R,[457759::1B::Single],bottom,0,1,0,NaN,Justin Turner singles on a line drive to right...,R,lan,119,NL,col,115,NL,22,Dodger Stadium,115,435622,518934,571448,547172,453568,621311,471865,596115,3B,Turner,Oberg,0,0,0,0,0,NaN,NaN,NaN,457759.0,NaN,NaN,3,0,1,NaN,gid_2018_10_01_colmlb_lanmlb_1,True,True,True,True,124.983203,214.502922,248.258544,1.043221
185756,7,571970,623184,Single,174.94,129.85,57,2018-10-01 22:37:21,L,R,[457759:1B:3B::Single][571970::1B::Single],bottom,0,1,0,NaN,Max Muncy singles on a sharp line drive to rig...,R,lan,119,NL,col,115,NL,22,Dodger Stadium,115,435622,518934,571448,547172,453568,621311,471865,596115,1B,Muncy,Oberg,0,0,0,0,0,457759.0,NaN,NaN,571970.0,NaN,457759.0,3,1,5,NaN,gid_2018_10_01_colmlb_lanmlb_1,True,True,True,True,124.633809,172.575649,212.875412,0.945327

In [ ]:
# If we print a list of column headers we can see that the file contains a lot of variables (62 in fact).
# many of which we will not need to calculate the run expectancy matrix.

print(MLBAM18.columns.tolist())

['inning', 'batterId', 'pitcherId', 'event', 'x', 'y', 'ab_num', 'timestamp', 'stand', 'throws', 'runnerMovement', 'half', 'balls', 'strikes', 'endOuts', 'actionId', 'description', 'game_type', 'home_team', 'home_teamId', 'home_lg', 'away_team', 'away_teamId', 'away_lg', 'venueId', 'stadium', 'field_teamId', 'playerId.1B', 'playerId.2B', 'playerId.3B', 'playerId.C', 'playerId.CF', 'playerId.LF', 'playerId.RF', 'playerId.SS', 'batterPos', 'batterName', 'pitcherName', 'runsOnPlay', 'startOuts', 'runsInInning', 'runsITD', 'runsFuture', 'start1B', 'start2B', 'start3B', 'end1B', 'end2B', 'end3B', 'outsInInning', 'startCode', 'endCode', 'fielderId', 'gameId', 'isPA', 'isAB', 'isHit', 'isBIP', 'our.x', 'our.y', 'r', 'theta']

In [ ]:
# Here we create a df RE18 which includes only columns we need to calculate the run expectancy matrix.

RE18 = MLBAM18[['batterName','batterId','event', 'start1B', 'start2B', 'start3B', 'end1B', 'end2B', 'end3B',\
                'startOuts','endOuts','runsFuture','runsOnPlay','outsInInning',\
                'stand', 'throws','venueId', 'stadium', 'batterPos']].copy()

display(RE18)

,batterName,batterId,event,start1B,start2B,start3B,end1B,end2B,end3B,startOuts,endOuts,runsFuture,runsOnPlay,outsInInning,stand,throws,venueId,stadium,batterPos
0,"Happ, I",664023,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,0,0,3,1,3,L,R,4169,Marlins Park,CF
1,Bryant,592178,Walk,NaN,NaN,NaN,592178.0,NaN,NaN,0,0,2,0,3,R,R,4169,Marlins Park,3B
2,Rizzo,519203,Hit By Pitch,592178.0,NaN,NaN,519203.0,592178.0,NaN,0,0,2,0,3,L,R,4169,Marlins Park,1B
3,Contreras,575929,Strikeout,519203.0,592178.0,NaN,519203.0,592178.0,NaN,0,1,2,0,3,R,R,4169,Marlins Park,C
4,Schwarber,656941,Groundout,519203.0,592178.0,NaN,NaN,519203.0,592178.0,1,2,2,0,3,L,R,4169,Marlins Park,LF
5,Russell,608365,Hit By Pitch,NaN,519203.0,592178.0,608365.0,519203.0,592178.0,2,2,2,0,3,R,R,4169,Marlins Park,SS
6,Heyward,518792,Walk,608365.0,519203.0,592178.0,518792.0,608365.0,519203.0,2,2,2,1,3,L,R,4169,Marlins Park,RF
7,"Baez, J",595879,Hit By Pitch,518792.0,608365.0,519203.0,595879.0,518792.0,608365.0,2,2,1,1,3,R,R,4169,Marlins Park,2B
8,Lester,452657,Groundout,595879.0,518792.0,608365.0,NaN,NaN,NaN,2,3,0,0,3,L,R,4169,Marlins Park,P
9,Brinson,621446,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0,3,R,L,4169,Marlins Park,CF
10,Dietrich,518618,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,1,0,3,L,L,4169,Marlins Park,LF
11,"Castro, S",516770,Single,NaN,NaN,NaN,NaN,516770.0,NaN,2,2,1,0,3,R,L,4169,Marlins Park,2B
12,Bour,571506,Walk,NaN,516770.0,NaN,571506.0,516770.0,NaN,2,2,1,0,3,L,L,4169,Marlins Park,1B
13,"Anderson, B",605119,Single,571506.0,516770.0,NaN,605119.0,571506.0,NaN,2,2,1,1,3,R,L,4169,Marlins Park,3B
14,Cooper,643265,Forceout,605119.0,571506.0,NaN,NaN,NaN,NaN,2,3,0,0,3,R,L,4169,Marlins Park,RF
15,"Happ, I",664023,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0,3,L,R,4169,Marlins Park,CF
16,Bryant,592178,Lineout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,1,0,3,R,R,4169,Marlins Park,3B
17,Rizzo,519203,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,2,2,1,1,3,L,R,4169,Marlins Park,1B
18,Contreras,575929,Pop Out,NaN,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,R,R,4169,Marlins Park,C
19,Rojas,500743,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,L,4169,Marlins Park,SS
20,Wallach,595453,Walk,NaN,NaN,NaN,595453.0,NaN,NaN,1,1,0,0,3,R,L,4169,Marlins Park,C
21,Urena,570632,Strikeout,595453.0,NaN,NaN,595453.0,NaN,NaN,1,2,0,0,3,R,L,4169,Marlins Park,P
22,Brinson,621446,Forceout,595453.0,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,R,L,4169,Marlins Park,CF
23,Schwarber,656941,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,L,R,4169,Marlins Park,LF
24,Russell,608365,Single,NaN,NaN,NaN,608365.0,NaN,NaN,1,1,0,0,3,R,R,4169,Marlins Park,SS
25,Heyward,518792,Double,608365.0,NaN,NaN,NaN,518792.0,608365.0,1,1,0,0,3,L,R,4169,Marlins Park,RF
26,"Baez, J",595879,Intent Walk,NaN,518792.0,608365.0,595879.0,518792.0,608365.0,1,1,0,0,3,R,R,4169,Marlins Park,2B
27,Lester,452657,Grounded Into DP,595879.0,518792.0,608365.0,NaN,NaN,NaN,1,3,0,0,3,L,R,4169,Marlins Park,P
28,Dietrich,518618,Triple,NaN,NaN,NaN,NaN,NaN,518618.0,0,0,3,0,3,L,L,4169,Marlins Park,LF
29,"Castro, S",516770,Walk,NaN,NaN,518618.0,516770.0,NaN,518618.0,0,0,3,0,3,R,L,4169,Marlins Park,2B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185741,Iannetta,455104,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,R,22,Dodger Stadium,UN
185742,Blackmon,453568,Single,NaN,NaN,NaN,453568.0,NaN,NaN,1,1,0,0,3,L,R,22,Dodger Stadium,CF
185743,LeMahieu,518934,Groundout,453568.0,NaN,NaN,NaN,453568.0,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,2B
185744,Dahl,621311,Groundout,NaN,453568.0,NaN,NaN,NaN,NaN,2,3,0,0,3,L,R,22,Dodger Stadium,LF
185745,Bellinger,641355,Pop Out,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0,3,L,L,22,Dodger Stadium,CF
185746,Puig,624577,Lineout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,1,0,3,R,L,22,Dodger Stadium,RF
185747,"Hernandez, K",571771,Double,NaN,NaN,NaN,NaN,571771.0,NaN,2,2,1,0,3,R,L,22,Dodger Stadium,2B
185748,Buehler,621111,Single,NaN,571771.0,NaN,621111.0,NaN,NaN,2,2,1,1,3,R,L,22,Dodger Stadium,P
185749,Pederson,592626,Flyout,621111.0,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,L,L,22,Dodger Stadium,LF
185750,Arenado,571448,Flyout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,R,22,Dodger Stadium,3B
185751,Story,596115,Flyout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,SS
185752,"Gonzalez, C",471865,Walk,NaN,NaN,NaN,471865.0,NaN,NaN,2,2,0,0,3,L,R,22,Dodger Stadium,RF
185753,Desmond,435622,Walk,471865.0,NaN,NaN,435622.0,471865.0,NaN,2,2,0,0,3,R,R,22,Dodger Stadium,1B
185754,Holliday,407812,Pop Out,435622.0,471865.0,NaN,NaN,NaN,NaN,2,3,0,0,3,R,R,22,Dodger Stadium,UN
185755,Turner,457759,Single,NaN,NaN,NaN,457759.0,NaN,NaN,0,0,0,0,3,R,R,22,Dodger Stadium,3B
185756,Muncy,571970,Single,457759.0,NaN,NaN,571970.0,NaN,457759.0,0,0,0,0,3,L,R,22,Dodger Stadium,1B
185757,Machado,592518,Grounded Into DP,571970.0,NaN,457759.0,NaN,NaN,457759.0,0,2,0,0,3,R,R,22,Dodger Stadium,SS
185758,Grandal,518735,Strikeout,NaN,NaN,457759.0,NaN,NaN,NaN,2,3,0,0,3,R,L,22,Dodger Stadium,C
185759,Iannetta,455104,Lineout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,R,22,Dodger Stadium,UN
185760,Blackmon,453568,Single,NaN,NaN,NaN,453568.0,NaN,NaN,1,1,0,0,3,L,L,22,Dodger Stadium,CF
185761,LeMahieu,518934,Groundout,453568.0,NaN,NaN,NaN,453568.0,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,2B
185762,Dahl,621311,Strikeout,NaN,453568.0,NaN,NaN,NaN,NaN,2,3,0,0,3,L,R,22,Dodger Stadium,LF
185763,Bellinger,641355,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,L,L,22,Dodger Stadium,CF
185764,Puig,624577,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,3,R,L,22,Dodger Stadium,RF
185765,"Hernandez, K",571771,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,R,R,22,Dodger Stadium,2B
185766,Arenado,571448,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,0,0,2,1,3,R,R,22,Dodger Stadium,3B
185767,Story,596115,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,1,3,R,R,22,Dodger Stadium,SS
185768,"Gonzalez, C",471865,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,L,R,22,Dodger Stadium,RF
185769,Desmond,435622,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,1B
185770,Parra,467827,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,L,R,22,Dodger Stadium,UN

In [ ]:
# Each player in the database has a unique numerical code. The columns 'Start1','Start2' and'Start3' provide the code of
# the player on first, second and third base at the start of the event (play). If there is no one on that base it is recorded
# as a missing value (NaN). To calculate RE we only need to know if their was a player on base or not, and so we simply
# code the state of each base as 1 (player on base) or 0 (no player on base)

RE18['Start1'] = np.where(pd.isnull(RE18['start1B']),0,1)
RE18['Start2'] = np.where(pd.isnull(RE18['start2B']),0,1)
RE18['Start3'] = np.where(pd.isnull(RE18['start3B']),0,1)
RE18

,batterName,batterId,event,start1B,start2B,start3B,end1B,end2B,end3B,startOuts,endOuts,runsFuture,runsOnPlay,outsInInning,stand,throws,venueId,stadium,batterPos,Start1,Start2,Start3
0,"Happ, I",664023,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,0,0,3,1,3,L,R,4169,Marlins Park,CF,0,0,0
1,Bryant,592178,Walk,NaN,NaN,NaN,592178.0,NaN,NaN,0,0,2,0,3,R,R,4169,Marlins Park,3B,0,0,0
2,Rizzo,519203,Hit By Pitch,592178.0,NaN,NaN,519203.0,592178.0,NaN,0,0,2,0,3,L,R,4169,Marlins Park,1B,1,0,0
3,Contreras,575929,Strikeout,519203.0,592178.0,NaN,519203.0,592178.0,NaN,0,1,2,0,3,R,R,4169,Marlins Park,C,1,1,0
4,Schwarber,656941,Groundout,519203.0,592178.0,NaN,NaN,519203.0,592178.0,1,2,2,0,3,L,R,4169,Marlins Park,LF,1,1,0
5,Russell,608365,Hit By Pitch,NaN,519203.0,592178.0,608365.0,519203.0,592178.0,2,2,2,0,3,R,R,4169,Marlins Park,SS,0,1,1
6,Heyward,518792,Walk,608365.0,519203.0,592178.0,518792.0,608365.0,519203.0,2,2,2,1,3,L,R,4169,Marlins Park,RF,1,1,1
7,"Baez, J",595879,Hit By Pitch,518792.0,608365.0,519203.0,595879.0,518792.0,608365.0,2,2,1,1,3,R,R,4169,Marlins Park,2B,1,1,1
8,Lester,452657,Groundout,595879.0,518792.0,608365.0,NaN,NaN,NaN,2,3,0,0,3,L,R,4169,Marlins Park,P,1,1,1
9,Brinson,621446,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0,3,R,L,4169,Marlins Park,CF,0,0,0
10,Dietrich,518618,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,1,0,3,L,L,4169,Marlins Park,LF,0,0,0
11,"Castro, S",516770,Single,NaN,NaN,NaN,NaN,516770.0,NaN,2,2,1,0,3,R,L,4169,Marlins Park,2B,0,0,0
12,Bour,571506,Walk,NaN,516770.0,NaN,571506.0,516770.0,NaN,2,2,1,0,3,L,L,4169,Marlins Park,1B,0,1,0
13,"Anderson, B",605119,Single,571506.0,516770.0,NaN,605119.0,571506.0,NaN,2,2,1,1,3,R,L,4169,Marlins Park,3B,1,1,0
14,Cooper,643265,Forceout,605119.0,571506.0,NaN,NaN,NaN,NaN,2,3,0,0,3,R,L,4169,Marlins Park,RF,1,1,0
15,"Happ, I",664023,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0,3,L,R,4169,Marlins Park,CF,0,0,0
16,Bryant,592178,Lineout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,1,0,3,R,R,4169,Marlins Park,3B,0,0,0
17,Rizzo,519203,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,2,2,1,1,3,L,R,4169,Marlins Park,1B,0,0,0
18,Contreras,575929,Pop Out,NaN,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,R,R,4169,Marlins Park,C,0,0,0
19,Rojas,500743,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,L,4169,Marlins Park,SS,0,0,0
20,Wallach,595453,Walk,NaN,NaN,NaN,595453.0,NaN,NaN,1,1,0,0,3,R,L,4169,Marlins Park,C,0,0,0
21,Urena,570632,Strikeout,595453.0,NaN,NaN,595453.0,NaN,NaN,1,2,0,0,3,R,L,4169,Marlins Park,P,1,0,0
22,Brinson,621446,Forceout,595453.0,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,R,L,4169,Marlins Park,CF,1,0,0
23,Schwarber,656941,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,L,R,4169,Marlins Park,LF,0,0,0
24,Russell,608365,Single,NaN,NaN,NaN,608365.0,NaN,NaN,1,1,0,0,3,R,R,4169,Marlins Park,SS,0,0,0
25,Heyward,518792,Double,608365.0,NaN,NaN,NaN,518792.0,608365.0,1,1,0,0,3,L,R,4169,Marlins Park,RF,1,0,0
26,"Baez, J",595879,Intent Walk,NaN,518792.0,608365.0,595879.0,518792.0,608365.0,1,1,0,0,3,R,R,4169,Marlins Park,2B,0,1,1
27,Lester,452657,Grounded Into DP,595879.0,518792.0,608365.0,NaN,NaN,NaN,1,3,0,0,3,L,R,4169,Marlins Park,P,1,1,1
28,Dietrich,518618,Triple,NaN,NaN,NaN,NaN,NaN,518618.0,0,0,3,0,3,L,L,4169,Marlins Park,LF,0,0,0
29,"Castro, S",516770,Walk,NaN,NaN,518618.0,516770.0,NaN,518618.0,0,0,3,0,3,R,L,4169,Marlins Park,2B,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185741,Iannetta,455104,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,R,22,Dodger Stadium,UN,0,0,0
185742,Blackmon,453568,Single,NaN,NaN,NaN,453568.0,NaN,NaN,1,1,0,0,3,L,R,22,Dodger Stadium,CF,0,0,0
185743,LeMahieu,518934,Groundout,453568.0,NaN,NaN,NaN,453568.0,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,2B,1,0,0
185744,Dahl,621311,Groundout,NaN,453568.0,NaN,NaN,NaN,NaN,2,3,0,0,3,L,R,22,Dodger Stadium,LF,0,1,0
185745,Bellinger,641355,Pop Out,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0,3,L,L,22,Dodger Stadium,CF,0,0,0
185746,Puig,624577,Lineout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,1,0,3,R,L,22,Dodger Stadium,RF,0,0,0
185747,"Hernandez, K",571771,Double,NaN,NaN,NaN,NaN,571771.0,NaN,2,2,1,0,3,R,L,22,Dodger Stadium,2B,0,0,0
185748,Buehler,621111,Single,NaN,571771.0,NaN,621111.0,NaN,NaN,2,2,1,1,3,R,L,22,Dodger Stadium,P,0,1,0
185749,Pederson,592626,Flyout,621111.0,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,L,L,22,Dodger Stadium,LF,1,0,0
185750,Arenado,571448,Flyout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,R,22,Dodger Stadium,3B,0,0,0
185751,Story,596115,Flyout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,SS,0,0,0
185752,"Gonzalez, C",471865,Walk,NaN,NaN,NaN,471865.0,NaN,NaN,2,2,0,0,3,L,R,22,Dodger Stadium,RF,0,0,0
185753,Desmond,435622,Walk,471865.0,NaN,NaN,435622.0,471865.0,NaN,2,2,0,0,3,R,R,22,Dodger Stadium,1B,1,0,0
185754,Holliday,407812,Pop Out,435622.0,471865.0,NaN,NaN,NaN,NaN,2,3,0,0,3,R,R,22,Dodger Stadium,UN,1,1,0
185755,Turner,457759,Single,NaN,NaN,NaN,457759.0,NaN,NaN,0,0,0,0,3,R,R,22,Dodger Stadium,3B,0,0,0
185756,Muncy,571970,Single,457759.0,NaN,NaN,571970.0,NaN,457759.0,0,0,0,0,3,L,R,22,Dodger Stadium,1B,1,0,0
185757,Machado,592518,Grounded Into DP,571970.0,NaN,457759.0,NaN,NaN,457759.0,0,2,0,0,3,R,R,22,Dodger Stadium,SS,1,0,1
185758,Grandal,518735,Strikeout,NaN,NaN,457759.0,NaN,NaN,NaN,2,3,0,0,3,R,L,22,Dodger Stadium,C,0,0,1
185759,Iannetta,455104,Lineout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,R,22,Dodger Stadium,UN,0,0,0
185760,Blackmon,453568,Single,NaN,NaN,NaN,453568.0,NaN,NaN,1,1,0,0,3,L,L,22,Dodger Stadium,CF,0,0,0
185761,LeMahieu,518934,Groundout,453568.0,NaN,NaN,NaN,453568.0,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,2B,1,0,0
185762,Dahl,621311,Strikeout,NaN,453568.0,NaN,NaN,NaN,NaN,2,3,0,0,3,L,R,22,Dodger Stadium,LF,0,1,0
185763,Bellinger,641355,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,L,L,22,Dodger Stadium,CF,0,0,0
185764,Puig,624577,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,3,R,L,22,Dodger Stadium,RF,0,0,0
185765,"Hernandez, K",571771,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,R,R,22,Dodger Stadium,2B,0,0,0
185766,Arenado,571448,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,0,0,2,1,3,R,R,22,Dodger Stadium,3B,0,0,0
185767,Story,596115,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,1,3,R,R,22,Dodger Stadium,SS,0,0,0
185768,"Gonzalez, C",471865,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,L,R,22,Dodger Stadium,RF,0,0,0
185769,Desmond,435622,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,1B,0,0,0
185770,Parra,467827,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,L,R,22,Dodger Stadium,UN,0,0,0

In [ ]:
# We can now create the 24 possible states (at the start of the event) by combining the base states with the number of outs
# (startOuts). Note that we must tell Python to treat the base states as strings, since otherwise Python would treat the numbers as
# integers.

RE18['Start_State'] = (RE18['Start1'].astype(str) + RE18['Start2'].astype(str) + RE18['Start3'].astype(str)+\
                       " " + RE18['startOuts'].astype(str))

RE18

,batterName,batterId,event,start1B,start2B,start3B,end1B,end2B,end3B,startOuts,endOuts,runsFuture,runsOnPlay,outsInInning,stand,throws,venueId,stadium,batterPos,Start1,Start2,Start3,Start_State
0,"Happ, I",664023,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,0,0,3,1,3,L,R,4169,Marlins Park,CF,0,0,0,000 0
1,Bryant,592178,Walk,NaN,NaN,NaN,592178.0,NaN,NaN,0,0,2,0,3,R,R,4169,Marlins Park,3B,0,0,0,000 0
2,Rizzo,519203,Hit By Pitch,592178.0,NaN,NaN,519203.0,592178.0,NaN,0,0,2,0,3,L,R,4169,Marlins Park,1B,1,0,0,100 0
3,Contreras,575929,Strikeout,519203.0,592178.0,NaN,519203.0,592178.0,NaN,0,1,2,0,3,R,R,4169,Marlins Park,C,1,1,0,110 0
4,Schwarber,656941,Groundout,519203.0,592178.0,NaN,NaN,519203.0,592178.0,1,2,2,0,3,L,R,4169,Marlins Park,LF,1,1,0,110 1
5,Russell,608365,Hit By Pitch,NaN,519203.0,592178.0,608365.0,519203.0,592178.0,2,2,2,0,3,R,R,4169,Marlins Park,SS,0,1,1,011 2
6,Heyward,518792,Walk,608365.0,519203.0,592178.0,518792.0,608365.0,519203.0,2,2,2,1,3,L,R,4169,Marlins Park,RF,1,1,1,111 2
7,"Baez, J",595879,Hit By Pitch,518792.0,608365.0,519203.0,595879.0,518792.0,608365.0,2,2,1,1,3,R,R,4169,Marlins Park,2B,1,1,1,111 2
8,Lester,452657,Groundout,595879.0,518792.0,608365.0,NaN,NaN,NaN,2,3,0,0,3,L,R,4169,Marlins Park,P,1,1,1,111 2
9,Brinson,621446,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0,3,R,L,4169,Marlins Park,CF,0,0,0,000 0
10,Dietrich,518618,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,1,0,3,L,L,4169,Marlins Park,LF,0,0,0,000 1
11,"Castro, S",516770,Single,NaN,NaN,NaN,NaN,516770.0,NaN,2,2,1,0,3,R,L,4169,Marlins Park,2B,0,0,0,000 2
12,Bour,571506,Walk,NaN,516770.0,NaN,571506.0,516770.0,NaN,2,2,1,0,3,L,L,4169,Marlins Park,1B,0,1,0,010 2
13,"Anderson, B",605119,Single,571506.0,516770.0,NaN,605119.0,571506.0,NaN,2,2,1,1,3,R,L,4169,Marlins Park,3B,1,1,0,110 2
14,Cooper,643265,Forceout,605119.0,571506.0,NaN,NaN,NaN,NaN,2,3,0,0,3,R,L,4169,Marlins Park,RF,1,1,0,110 2
15,"Happ, I",664023,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0,3,L,R,4169,Marlins Park,CF,0,0,0,000 0
16,Bryant,592178,Lineout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,1,0,3,R,R,4169,Marlins Park,3B,0,0,0,000 1
17,Rizzo,519203,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,2,2,1,1,3,L,R,4169,Marlins Park,1B,0,0,0,000 2
18,Contreras,575929,Pop Out,NaN,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,R,R,4169,Marlins Park,C,0,0,0,000 2
19,Rojas,500743,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,L,4169,Marlins Park,SS,0,0,0,000 0
20,Wallach,595453,Walk,NaN,NaN,NaN,595453.0,NaN,NaN,1,1,0,0,3,R,L,4169,Marlins Park,C,0,0,0,000 1
21,Urena,570632,Strikeout,595453.0,NaN,NaN,595453.0,NaN,NaN,1,2,0,0,3,R,L,4169,Marlins Park,P,1,0,0,100 1
22,Brinson,621446,Forceout,595453.0,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,R,L,4169,Marlins Park,CF,1,0,0,100 2
23,Schwarber,656941,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,L,R,4169,Marlins Park,LF,0,0,0,000 0
24,Russell,608365,Single,NaN,NaN,NaN,608365.0,NaN,NaN,1,1,0,0,3,R,R,4169,Marlins Park,SS,0,0,0,000 1
25,Heyward,518792,Double,608365.0,NaN,NaN,NaN,518792.0,608365.0,1,1,0,0,3,L,R,4169,Marlins Park,RF,1,0,0,100 1
26,"Baez, J",595879,Intent Walk,NaN,518792.0,608365.0,595879.0,518792.0,608365.0,1,1,0,0,3,R,R,4169,Marlins Park,2B,0,1,1,011 1
27,Lester,452657,Grounded Into DP,595879.0,518792.0,608365.0,NaN,NaN,NaN,1,3,0,0,3,L,R,4169,Marlins Park,P,1,1,1,111 1
28,Dietrich,518618,Triple,NaN,NaN,NaN,NaN,NaN,518618.0,0,0,3,0,3,L,L,4169,Marlins Park,LF,0,0,0,000 0
29,"Castro, S",516770,Walk,NaN,NaN,518618.0,516770.0,NaN,518618.0,0,0,3,0,3,R,L,4169,Marlins Park,2B,0,0,1,001 0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185741,Iannetta,455104,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,R,22,Dodger Stadium,UN,0,0,0,000 0
185742,Blackmon,453568,Single,NaN,NaN,NaN,453568.0,NaN,NaN,1,1,0,0,3,L,R,22,Dodger Stadium,CF,0,0,0,000 1
185743,LeMahieu,518934,Groundout,453568.0,NaN,NaN,NaN,453568.0,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,2B,1,0,0,100 1
185744,Dahl,621311,Groundout,NaN,453568.0,NaN,NaN,NaN,NaN,2,3,0,0,3,L,R,22,Dodger Stadium,LF,0,1,0,010 2
185745,Bellinger,641355,Pop Out,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0,3,L,L,22,Dodger Stadium,CF,0,0,0,000 0
185746,Puig,624577,Lineout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,1,0,3,R,L,22,Dodger Stadium,RF,0,0,0,000 1
185747,"Hernandez, K",571771,Double,NaN,NaN,NaN,NaN,571771.0,NaN,2,2,1,0,3,R,L,22,Dodger Stadium,2B,0,0,0,000 2
185748,Buehler,621111,Single,NaN,571771.0,NaN,621111.0,NaN,NaN,2,2,1,1,3,R,L,22,Dodger Stadium,P,0,1,0,010 2
185749,Pederson,592626,Flyout,621111.0,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,L,L,22,Dodger Stadium,LF,1,0,0,100 2
185750,Arenado,571448,Flyout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,R,22,Dodger Stadium,3B,0,0,0,000 0
185751,Story,596115,Flyout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,SS,0,0,0,000 1
185752,"Gonzalez, C",471865,Walk,NaN,NaN,NaN,471865.0,NaN,NaN,2,2,0,0,3,L,R,22,Dodger Stadium,RF,0,0,0,000 2
185753,Desmond,435622,Walk,471865.0,NaN,NaN,435622.0,471865.0,NaN,2,2,0,0,3,R,R,22,Dodger Stadium,1B,1,0,0,100 2
185754,Holliday,407812,Pop Out,435622.0,471865.0,NaN,NaN,NaN,NaN,2,3,0,0,3,R,R,22,Dodger Stadium,UN,1,1,0,110 2
185755,Turner,457759,Single,NaN,NaN,NaN,457759.0,NaN,NaN,0,0,0,0,3,R,R,22,Dodger Stadium,3B,0,0,0,000 0
185756,Muncy,571970,Single,457759.0,NaN,NaN,571970.0,NaN,457759.0,0,0,0,0,3,L,R,22,Dodger Stadium,1B,1,0,0,100 0
185757,Machado,592518,Grounded Into DP,571970.0,NaN,457759.0,NaN,NaN,457759.0,0,2,0,0,3,R,R,22,Dodger Stadium,SS,1,0,1,101 0
185758,Grandal,518735,Strikeout,NaN,NaN,457759.0,NaN,NaN,NaN,2,3,0,0,3,R,L,22,Dodger Stadium,C,0,0,1,001 2
185759,Iannetta,455104,Lineout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,R,22,Dodger Stadium,UN,0,0,0,000 0
185760,Blackmon,453568,Single,NaN,NaN,NaN,453568.0,NaN,NaN,1,1,0,0,3,L,L,22,Dodger Stadium,CF,0,0,0,000 1
185761,LeMahieu,518934,Groundout,453568.0,NaN,NaN,NaN,453568.0,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,2B,1,0,0,100 1
185762,Dahl,621311,Strikeout,NaN,453568.0,NaN,NaN,NaN,NaN,2,3,0,0,3,L,R,22,Dodger Stadium,LF,0,1,0,010 2
185763,Bellinger,641355,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,L,L,22,Dodger Stadium,CF,0,0,0,000 0
185764,Puig,624577,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,3,R,L,22,Dodger Stadium,RF,0,0,0,000 1
185765,"Hernandez, K",571771,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,R,R,22,Dodger Stadium,2B,0,0,0,000 2
185766,Arenado,571448,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,0,0,2,1,3,R,R,22,Dodger Stadium,3B,0,0,0,000 0
185767,Story,596115,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,1,3,R,R,22,Dodger Stadium,SS,0,0,0,000 0
185768,"Gonzalez, C",471865,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,L,R,22,Dodger Stadium,RF,0,0,0,000 0
185769,Desmond,435622,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,1B,0,0,0,000 1
185770,Parra,467827,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,L,R,22,Dodger Stadium,UN,0,0,0,000 2

In [ ]:
# We now repeat the same process for the end states. First code the base states as 1 or 0:

RE18['End1'] = np.where(pd.isnull(RE18['end1B']),0,1)
RE18['End2'] = np.where(pd.isnull(RE18['end2B']),0,1)
RE18['End3'] = np.where(pd.isnull(RE18['end3B']),0,1)
RE18

,batterName,batterId,event,start1B,start2B,start3B,end1B,end2B,end3B,startOuts,endOuts,runsFuture,runsOnPlay,outsInInning,stand,throws,venueId,stadium,batterPos,Start1,Start2,Start3,Start_State,End1,End2,End3
0,"Happ, I",664023,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,0,0,3,1,3,L,R,4169,Marlins Park,CF,0,0,0,000 0,0,0,0
1,Bryant,592178,Walk,NaN,NaN,NaN,592178.0,NaN,NaN,0,0,2,0,3,R,R,4169,Marlins Park,3B,0,0,0,000 0,1,0,0
2,Rizzo,519203,Hit By Pitch,592178.0,NaN,NaN,519203.0,592178.0,NaN,0,0,2,0,3,L,R,4169,Marlins Park,1B,1,0,0,100 0,1,1,0
3,Contreras,575929,Strikeout,519203.0,592178.0,NaN,519203.0,592178.0,NaN,0,1,2,0,3,R,R,4169,Marlins Park,C,1,1,0,110 0,1,1,0
4,Schwarber,656941,Groundout,519203.0,592178.0,NaN,NaN,519203.0,592178.0,1,2,2,0,3,L,R,4169,Marlins Park,LF,1,1,0,110 1,0,1,1
5,Russell,608365,Hit By Pitch,NaN,519203.0,592178.0,608365.0,519203.0,592178.0,2,2,2,0,3,R,R,4169,Marlins Park,SS,0,1,1,011 2,1,1,1
6,Heyward,518792,Walk,608365.0,519203.0,592178.0,518792.0,608365.0,519203.0,2,2,2,1,3,L,R,4169,Marlins Park,RF,1,1,1,111 2,1,1,1
7,"Baez, J",595879,Hit By Pitch,518792.0,608365.0,519203.0,595879.0,518792.0,608365.0,2,2,1,1,3,R,R,4169,Marlins Park,2B,1,1,1,111 2,1,1,1
8,Lester,452657,Groundout,595879.0,518792.0,608365.0,NaN,NaN,NaN,2,3,0,0,3,L,R,4169,Marlins Park,P,1,1,1,111 2,0,0,0
9,Brinson,621446,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0,3,R,L,4169,Marlins Park,CF,0,0,0,000 0,0,0,0
10,Dietrich,518618,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,1,0,3,L,L,4169,Marlins Park,LF,0,0,0,000 1,0,0,0
11,"Castro, S",516770,Single,NaN,NaN,NaN,NaN,516770.0,NaN,2,2,1,0,3,R,L,4169,Marlins Park,2B,0,0,0,000 2,0,1,0
12,Bour,571506,Walk,NaN,516770.0,NaN,571506.0,516770.0,NaN,2,2,1,0,3,L,L,4169,Marlins Park,1B,0,1,0,010 2,1,1,0
13,"Anderson, B",605119,Single,571506.0,516770.0,NaN,605119.0,571506.0,NaN,2,2,1,1,3,R,L,4169,Marlins Park,3B,1,1,0,110 2,1,1,0
14,Cooper,643265,Forceout,605119.0,571506.0,NaN,NaN,NaN,NaN,2,3,0,0,3,R,L,4169,Marlins Park,RF,1,1,0,110 2,0,0,0
15,"Happ, I",664023,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0,3,L,R,4169,Marlins Park,CF,0,0,0,000 0,0,0,0
16,Bryant,592178,Lineout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,1,0,3,R,R,4169,Marlins Park,3B,0,0,0,000 1,0,0,0
17,Rizzo,519203,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,2,2,1,1,3,L,R,4169,Marlins Park,1B,0,0,0,000 2,0,0,0
18,Contreras,575929,Pop Out,NaN,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,R,R,4169,Marlins Park,C,0,0,0,000 2,0,0,0
19,Rojas,500743,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,L,4169,Marlins Park,SS,0,0,0,000 0,0,0,0
20,Wallach,595453,Walk,NaN,NaN,NaN,595453.0,NaN,NaN,1,1,0,0,3,R,L,4169,Marlins Park,C,0,0,0,000 1,1,0,0
21,Urena,570632,Strikeout,595453.0,NaN,NaN,595453.0,NaN,NaN,1,2,0,0,3,R,L,4169,Marlins Park,P,1,0,0,100 1,1,0,0
22,Brinson,621446,Forceout,595453.0,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,R,L,4169,Marlins Park,CF,1,0,0,100 2,0,0,0
23,Schwarber,656941,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,L,R,4169,Marlins Park,LF,0,0,0,000 0,0,0,0
24,Russell,608365,Single,NaN,NaN,NaN,608365.0,NaN,NaN,1,1,0,0,3,R,R,4169,Marlins Park,SS,0,0,0,000 1,1,0,0
25,Heyward,518792,Double,608365.0,NaN,NaN,NaN,518792.0,608365.0,1,1,0,0,3,L,R,4169,Marlins Park,RF,1,0,0,100 1,0,1,1
26,"Baez, J",595879,Intent Walk,NaN,518792.0,608365.0,595879.0,518792.0,608365.0,1,1,0,0,3,R,R,4169,Marlins Park,2B,0,1,1,011 1,1,1,1
27,Lester,452657,Grounded Into DP,595879.0,518792.0,608365.0,NaN,NaN,NaN,1,3,0,0,3,L,R,4169,Marlins Park,P,1,1,1,111 1,0,0,0
28,Dietrich,518618,Triple,NaN,NaN,NaN,NaN,NaN,518618.0,0,0,3,0,3,L,L,4169,Marlins Park,LF,0,0,0,000 0,0,0,1
29,"Castro, S",516770,Walk,NaN,NaN,518618.0,516770.0,NaN,518618.0,0,0,3,0,3,R,L,4169,Marlins Park,2B,0,0,1,001 0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185741,Iannetta,455104,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,R,22,Dodger Stadium,UN,0,0,0,000 0,0,0,0
185742,Blackmon,453568,Single,NaN,NaN,NaN,453568.0,NaN,NaN,1,1,0,0,3,L,R,22,Dodger Stadium,CF,0,0,0,000 1,1,0,0
185743,LeMahieu,518934,Groundout,453568.0,NaN,NaN,NaN,453568.0,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,2B,1,0,0,100 1,0,1,0
185744,Dahl,621311,Groundout,NaN,453568.0,NaN,NaN,NaN,NaN,2,3,0,0,3,L,R,22,Dodger Stadium,LF,0,1,0,010 2,0,0,0
185745,Bellinger,641355,Pop Out,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0,3,L,L,22,Dodger Stadium,CF,0,0,0,000 0,0,0,0
185746,Puig,624577,Lineout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,1,0,3,R,L,22,Dodger Stadium,RF,0,0,0,000 1,0,0,0
185747,"Hernandez, K",571771,Double,NaN,NaN,NaN,NaN,571771.0,NaN,2,2,1,0,3,R,L,22,Dodger Stadium,2B,0,0,0,000 2,0,1,0
185748,Buehler,621111,Single,NaN,571771.0,NaN,621111.0,NaN,NaN,2,2,1,1,3,R,L,22,Dodger Stadium,P,0,1,0,010 2,1,0,0
185749,Pederson,592626,Flyout,621111.0,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,L,L,22,Dodger Stadium,LF,1,0,0,100 2,0,0,0
185750,Arenado,571448,Flyout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,R,22,Dodger Stadium,3B,0,0,0,000 0,0,0,0
185751,Story,596115,Flyout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,SS,0,0,0,000 1,0,0,0
185752,"Gonzalez, C",471865,Walk,NaN,NaN,NaN,471865.0,NaN,NaN,2,2,0,0,3,L,R,22,Dodger Stadium,RF,0,0,0,000 2,1,0,0
185753,Desmond,435622,Walk,471865.0,NaN,NaN,435622.0,471865.0,NaN,2,2,0,0,3,R,R,22,Dodger Stadium,1B,1,0,0,100 2,1,1,0
185754,Holliday,407812,Pop Out,435622.0,471865.0,NaN,NaN,NaN,NaN,2,3,0,0,3,R,R,22,Dodger Stadium,UN,1,1,0,110 2,0,0,0
185755,Turner,457759,Single,NaN,NaN,NaN,457759.0,NaN,NaN,0,0,0,0,3,R,R,22,Dodger Stadium,3B,0,0,0,000 0,1,0,0
185756,Muncy,571970,Single,457759.0,NaN,NaN,571970.0,NaN,457759.0,0,0,0,0,3,L,R,22,Dodger Stadium,1B,1,0,0,100 0,1,0,1
185757,Machado,592518,Grounded Into DP,571970.0,NaN,457759.0,NaN,NaN,457759.0,0,2,0,0,3,R,R,22,Dodger Stadium,SS,1,0,1,101 0,0,0,1
185758,Grandal,518735,Strikeout,NaN,NaN,457759.0,NaN,NaN,NaN,2,3,0,0,3,R,L,22,Dodger Stadium,C,0,0,1,001 2,0,0,0
185759,Iannetta,455104,Lineout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,R,22,Dodger Stadium,UN,0,0,0,000 0,0,0,0
185760,Blackmon,453568,Single,NaN,NaN,NaN,453568.0,NaN,NaN,1,1,0,0,3,L,L,22,Dodger Stadium,CF,0,0,0,000 1,1,0,0
185761,LeMahieu,518934,Groundout,453568.0,NaN,NaN,NaN,453568.0,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,2B,1,0,0,100 1,0,1,0
185762,Dahl,621311,Strikeout,NaN,453568.0,NaN,NaN,NaN,NaN,2,3,0,0,3,L,R,22,Dodger Stadium,LF,0,1,0,010 2,0,0,0
185763,Bellinger,641355,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,L,L,22,Dodger Stadium,CF,0,0,0,000 0,0,0,0
185764,Puig,624577,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,3,R,L,22,Dodger Stadium,RF,0,0,0,000 1,0,0,0
185765,"Hernandez, K",571771,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,R,R,22,Dodger Stadium,2B,0,0,0,000 2,0,0,0
185766,Arenado,571448,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,0,0,2,1,3,R,R,22,Dodger Stadium,3B,0,0,0,000 0,0,0,0
185767,Story,596115,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,1,3,R,R,22,Dodger Stadium,SS,0,0,0,000 0,0,0,0
185768,"Gonzalez, C",471865,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,L,R,22,Dodger Stadium,RF,0,0,0,000 0,0,0,0
185769,Desmond,435622,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,1B,0,0,0,000 1,0,0,0
185770,Parra,467827,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,L,R,22,Dodger Stadium,UN,0,0,0,000 2,0,0,0

In [ ]:
# Now code the end states by combining the base states with the endOuts:

RE18['End_State'] = (RE18['End1'].astype(str) + RE18['End2'].astype(str) + RE18['End3'].astype(str) + \
                     " " + RE18['endOuts'].astype(str))
display(RE18)

,batterName,batterId,event,start1B,start2B,start3B,end1B,end2B,end3B,startOuts,endOuts,runsFuture,runsOnPlay,outsInInning,stand,throws,venueId,stadium,batterPos,Start1,Start2,Start3,Start_State,End1,End2,End3,End_State
0,"Happ, I",664023,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,0,0,3,1,3,L,R,4169,Marlins Park,CF,0,0,0,000 0,0,0,0,000 0
1,Bryant,592178,Walk,NaN,NaN,NaN,592178.0,NaN,NaN,0,0,2,0,3,R,R,4169,Marlins Park,3B,0,0,0,000 0,1,0,0,100 0
2,Rizzo,519203,Hit By Pitch,592178.0,NaN,NaN,519203.0,592178.0,NaN,0,0,2,0,3,L,R,4169,Marlins Park,1B,1,0,0,100 0,1,1,0,110 0
3,Contreras,575929,Strikeout,519203.0,592178.0,NaN,519203.0,592178.0,NaN,0,1,2,0,3,R,R,4169,Marlins Park,C,1,1,0,110 0,1,1,0,110 1
4,Schwarber,656941,Groundout,519203.0,592178.0,NaN,NaN,519203.0,592178.0,1,2,2,0,3,L,R,4169,Marlins Park,LF,1,1,0,110 1,0,1,1,011 2
5,Russell,608365,Hit By Pitch,NaN,519203.0,592178.0,608365.0,519203.0,592178.0,2,2,2,0,3,R,R,4169,Marlins Park,SS,0,1,1,011 2,1,1,1,111 2
6,Heyward,518792,Walk,608365.0,519203.0,592178.0,518792.0,608365.0,519203.0,2,2,2,1,3,L,R,4169,Marlins Park,RF,1,1,1,111 2,1,1,1,111 2
7,"Baez, J",595879,Hit By Pitch,518792.0,608365.0,519203.0,595879.0,518792.0,608365.0,2,2,1,1,3,R,R,4169,Marlins Park,2B,1,1,1,111 2,1,1,1,111 2
8,Lester,452657,Groundout,595879.0,518792.0,608365.0,NaN,NaN,NaN,2,3,0,0,3,L,R,4169,Marlins Park,P,1,1,1,111 2,0,0,0,000 3
9,Brinson,621446,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0,3,R,L,4169,Marlins Park,CF,0,0,0,000 0,0,0,0,000 1
10,Dietrich,518618,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,1,0,3,L,L,4169,Marlins Park,LF,0,0,0,000 1,0,0,0,000 2
11,"Castro, S",516770,Single,NaN,NaN,NaN,NaN,516770.0,NaN,2,2,1,0,3,R,L,4169,Marlins Park,2B,0,0,0,000 2,0,1,0,010 2
12,Bour,571506,Walk,NaN,516770.0,NaN,571506.0,516770.0,NaN,2,2,1,0,3,L,L,4169,Marlins Park,1B,0,1,0,010 2,1,1,0,110 2
13,"Anderson, B",605119,Single,571506.0,516770.0,NaN,605119.0,571506.0,NaN,2,2,1,1,3,R,L,4169,Marlins Park,3B,1,1,0,110 2,1,1,0,110 2
14,Cooper,643265,Forceout,605119.0,571506.0,NaN,NaN,NaN,NaN,2,3,0,0,3,R,L,4169,Marlins Park,RF,1,1,0,110 2,0,0,0,000 3
15,"Happ, I",664023,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0,3,L,R,4169,Marlins Park,CF,0,0,0,000 0,0,0,0,000 1
16,Bryant,592178,Lineout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,1,0,3,R,R,4169,Marlins Park,3B,0,0,0,000 1,0,0,0,000 2
17,Rizzo,519203,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,2,2,1,1,3,L,R,4169,Marlins Park,1B,0,0,0,000 2,0,0,0,000 2
18,Contreras,575929,Pop Out,NaN,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,R,R,4169,Marlins Park,C,0,0,0,000 2,0,0,0,000 3
19,Rojas,500743,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,L,4169,Marlins Park,SS,0,0,0,000 0,0,0,0,000 1
20,Wallach,595453,Walk,NaN,NaN,NaN,595453.0,NaN,NaN,1,1,0,0,3,R,L,4169,Marlins Park,C,0,0,0,000 1,1,0,0,100 1
21,Urena,570632,Strikeout,595453.0,NaN,NaN,595453.0,NaN,NaN,1,2,0,0,3,R,L,4169,Marlins Park,P,1,0,0,100 1,1,0,0,100 2
22,Brinson,621446,Forceout,595453.0,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,R,L,4169,Marlins Park,CF,1,0,0,100 2,0,0,0,000 3
23,Schwarber,656941,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,L,R,4169,Marlins Park,LF,0,0,0,000 0,0,0,0,000 1
24,Russell,608365,Single,NaN,NaN,NaN,608365.0,NaN,NaN,1,1,0,0,3,R,R,4169,Marlins Park,SS,0,0,0,000 1,1,0,0,100 1
25,Heyward,518792,Double,608365.0,NaN,NaN,NaN,518792.0,608365.0,1,1,0,0,3,L,R,4169,Marlins Park,RF,1,0,0,100 1,0,1,1,011 1
26,"Baez, J",595879,Intent Walk,NaN,518792.0,608365.0,595879.0,518792.0,608365.0,1,1,0,0,3,R,R,4169,Marlins Park,2B,0,1,1,011 1,1,1,1,111 1
27,Lester,452657,Grounded Into DP,595879.0,518792.0,608365.0,NaN,NaN,NaN,1,3,0,0,3,L,R,4169,Marlins Park,P,1,1,1,111 1,0,0,0,000 3
28,Dietrich,518618,Triple,NaN,NaN,NaN,NaN,NaN,518618.0,0,0,3,0,3,L,L,4169,Marlins Park,LF,0,0,0,000 0,0,0,1,001 0
29,"Castro, S",516770,Walk,NaN,NaN,518618.0,516770.0,NaN,518618.0,0,0,3,0,3,R,L,4169,Marlins Park,2B,0,0,1,001 0,1,0,1,101 0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185741,Iannetta,455104,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,R,22,Dodger Stadium,UN,0,0,0,000 0,0,0,0,000 1
185742,Blackmon,453568,Single,NaN,NaN,NaN,453568.0,NaN,NaN,1,1,0,0,3,L,R,22,Dodger Stadium,CF,0,0,0,000 1,1,0,0,100 1
185743,LeMahieu,518934,Groundout,453568.0,NaN,NaN,NaN,453568.0,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,2B,1,0,0,100 1,0,1,0,010 2
185744,Dahl,621311,Groundout,NaN,453568.0,NaN,NaN,NaN,NaN,2,3,0,0,3,L,R,22,Dodger Stadium,LF,0,1,0,010 2,0,0,0,000 3
185745,Bellinger,641355,Pop Out,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0,3,L,L,22,Dodger Stadium,CF,0,0,0,000 0,0,0,0,000 1
185746,Puig,624577,Lineout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,1,0,3,R,L,22,Dodger Stadium,RF,0,0,0,000 1,0,0,0,000 2
185747,"Hernandez, K",571771,Double,NaN,NaN,NaN,NaN,571771.0,NaN,2,2,1,0,3,R,L,22,Dodger Stadium,2B,0,0,0,000 2,0,1,0,010 2
185748,Buehler,621111,Single,NaN,571771.0,NaN,621111.0,NaN,NaN,2,2,1,1,3,R,L,22,Dodger Stadium,P,0,1,0,010 2,1,0,0,100 2
185749,Pederson,592626,Flyout,621111.0,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,L,L,22,Dodger Stadium,LF,1,0,0,100 2,0,0,0,000 3
185750,Arenado,571448,Flyout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,R,22,Dodger Stadium,3B,0,0,0,000 0,0,0,0,000 1
185751,Story,596115,Flyout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,SS,0,0,0,000 1,0,0,0,000 2
185752,"Gonzalez, C",471865,Walk,NaN,NaN,NaN,471865.0,NaN,NaN,2,2,0,0,3,L,R,22,Dodger Stadium,RF,0,0,0,000 2,1,0,0,100 2
185753,Desmond,435622,Walk,471865.0,NaN,NaN,435622.0,471865.0,NaN,2,2,0,0,3,R,R,22,Dodger Stadium,1B,1,0,0,100 2,1,1,0,110 2
185754,Holliday,407812,Pop Out,435622.0,471865.0,NaN,NaN,NaN,NaN,2,3,0,0,3,R,R,22,Dodger Stadium,UN,1,1,0,110 2,0,0,0,000 3
185755,Turner,457759,Single,NaN,NaN,NaN,457759.0,NaN,NaN,0,0,0,0,3,R,R,22,Dodger Stadium,3B,0,0,0,000 0,1,0,0,100 0
185756,Muncy,571970,Single,457759.0,NaN,NaN,571970.0,NaN,457759.0,0,0,0,0,3,L,R,22,Dodger Stadium,1B,1,0,0,100 0,1,0,1,101 0
185757,Machado,592518,Grounded Into DP,571970.0,NaN,457759.0,NaN,NaN,457759.0,0,2,0,0,3,R,R,22,Dodger Stadium,SS,1,0,1,101 0,0,0,1,001 2
185758,Grandal,518735,Strikeout,NaN,NaN,457759.0,NaN,NaN,NaN,2,3,0,0,3,R,L,22,Dodger Stadium,C,0,0,1,001 2,0,0,0,000 3
185759,Iannetta,455104,Lineout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,R,22,Dodger Stadium,UN,0,0,0,000 0,0,0,0,000 1
185760,Blackmon,453568,Single,NaN,NaN,NaN,453568.0,NaN,NaN,1,1,0,0,3,L,L,22,Dodger Stadium,CF,0,0,0,000 1,1,0,0,100 1
185761,LeMahieu,518934,Groundout,453568.0,NaN,NaN,NaN,453568.0,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,2B,1,0,0,100 1,0,1,0,010 2
185762,Dahl,621311,Strikeout,NaN,453568.0,NaN,NaN,NaN,NaN,2,3,0,0,3,L,R,22,Dodger Stadium,LF,0,1,0,010 2,0,0,0,000 3
185763,Bellinger,641355,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,L,L,22,Dodger Stadium,CF,0,0,0,000 0,0,0,0,000 1
185764,Puig,624577,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,3,R,L,22,Dodger Stadium,RF,0,0,0,000 1,0,0,0,000 2
185765,"Hernandez, K",571771,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,R,R,22,Dodger Stadium,2B,0,0,0,000 2,0,0,0,000 3
185766,Arenado,571448,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,0,0,2,1,3,R,R,22,Dodger Stadium,3B,0,0,0,000 0,0,0,0,000 0
185767,Story,596115,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,1,3,R,R,22,Dodger Stadium,SS,0,0,0,000 0,0,0,0,000 0
185768,"Gonzalez, C",471865,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,L,R,22,Dodger Stadium,RF,0,0,0,000 0,0,0,0,000 1
185769,Desmond,435622,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,1B,0,0,0,000 1,0,0,0,000 2
185770,Parra,467827,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,L,R,22,Dodger Stadium,UN,0,0,0,000 2,0,0,0,000 3

## Excluded Events

We exclude some events because:

1. **They are not related to batting.** Here we are focused on the contribution from batting. An example here is a "foul error" - where a batter hits a fly ball into foul territory- and so cannot run - but also the fielder makes an error and does not catch the ball (if caught, the batter would be out). This is one type of event (a fielding error), but it does not change the base states or the number fo outs, so there is no impact on run expectancy.    


2. **Innings that end with fewer than three outs.** If the visiting team is ahead after nine innings (i.e. before the bottom of the ninth starts), the home team can score the winning run and the game ends with fewer than three outs. This is true at the bottom of the ninth, and at the bottom of extra innings if the home team wins. Since these innings are truncated by the rules of the game, the potential runs scored to the end of the inning are also reduced. In order to compare like with like, we exclude these innings.

In [ ]:
# Restrict data to plays where either there is a change in state or runs scored and innings that had exactly 3 outs.

RE18 = RE18[((RE18.Start_State != RE18.End_State) | (RE18.runsOnPlay > 0)) & (RE18.outsInInning == 3)]
display(RE18)

,batterName,batterId,event,start1B,start2B,start3B,end1B,end2B,end3B,startOuts,endOuts,runsFuture,runsOnPlay,outsInInning,stand,throws,venueId,stadium,batterPos,Start1,Start2,Start3,Start_State,End1,End2,End3,End_State
0,"Happ, I",664023,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,0,0,3,1,3,L,R,4169,Marlins Park,CF,0,0,0,000 0,0,0,0,000 0
1,Bryant,592178,Walk,NaN,NaN,NaN,592178.0,NaN,NaN,0,0,2,0,3,R,R,4169,Marlins Park,3B,0,0,0,000 0,1,0,0,100 0
2,Rizzo,519203,Hit By Pitch,592178.0,NaN,NaN,519203.0,592178.0,NaN,0,0,2,0,3,L,R,4169,Marlins Park,1B,1,0,0,100 0,1,1,0,110 0
3,Contreras,575929,Strikeout,519203.0,592178.0,NaN,519203.0,592178.0,NaN,0,1,2,0,3,R,R,4169,Marlins Park,C,1,1,0,110 0,1,1,0,110 1
4,Schwarber,656941,Groundout,519203.0,592178.0,NaN,NaN,519203.0,592178.0,1,2,2,0,3,L,R,4169,Marlins Park,LF,1,1,0,110 1,0,1,1,011 2
5,Russell,608365,Hit By Pitch,NaN,519203.0,592178.0,608365.0,519203.0,592178.0,2,2,2,0,3,R,R,4169,Marlins Park,SS,0,1,1,011 2,1,1,1,111 2
6,Heyward,518792,Walk,608365.0,519203.0,592178.0,518792.0,608365.0,519203.0,2,2,2,1,3,L,R,4169,Marlins Park,RF,1,1,1,111 2,1,1,1,111 2
7,"Baez, J",595879,Hit By Pitch,518792.0,608365.0,519203.0,595879.0,518792.0,608365.0,2,2,1,1,3,R,R,4169,Marlins Park,2B,1,1,1,111 2,1,1,1,111 2
8,Lester,452657,Groundout,595879.0,518792.0,608365.0,NaN,NaN,NaN,2,3,0,0,3,L,R,4169,Marlins Park,P,1,1,1,111 2,0,0,0,000 3
9,Brinson,621446,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0,3,R,L,4169,Marlins Park,CF,0,0,0,000 0,0,0,0,000 1
10,Dietrich,518618,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,1,0,3,L,L,4169,Marlins Park,LF,0,0,0,000 1,0,0,0,000 2
11,"Castro, S",516770,Single,NaN,NaN,NaN,NaN,516770.0,NaN,2,2,1,0,3,R,L,4169,Marlins Park,2B,0,0,0,000 2,0,1,0,010 2
12,Bour,571506,Walk,NaN,516770.0,NaN,571506.0,516770.0,NaN,2,2,1,0,3,L,L,4169,Marlins Park,1B,0,1,0,010 2,1,1,0,110 2
13,"Anderson, B",605119,Single,571506.0,516770.0,NaN,605119.0,571506.0,NaN,2,2,1,1,3,R,L,4169,Marlins Park,3B,1,1,0,110 2,1,1,0,110 2
14,Cooper,643265,Forceout,605119.0,571506.0,NaN,NaN,NaN,NaN,2,3,0,0,3,R,L,4169,Marlins Park,RF,1,1,0,110 2,0,0,0,000 3
15,"Happ, I",664023,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0,3,L,R,4169,Marlins Park,CF,0,0,0,000 0,0,0,0,000 1
16,Bryant,592178,Lineout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,1,0,3,R,R,4169,Marlins Park,3B,0,0,0,000 1,0,0,0,000 2
17,Rizzo,519203,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,2,2,1,1,3,L,R,4169,Marlins Park,1B,0,0,0,000 2,0,0,0,000 2
18,Contreras,575929,Pop Out,NaN,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,R,R,4169,Marlins Park,C,0,0,0,000 2,0,0,0,000 3
19,Rojas,500743,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,L,4169,Marlins Park,SS,0,0,0,000 0,0,0,0,000 1
20,Wallach,595453,Walk,NaN,NaN,NaN,595453.0,NaN,NaN,1,1,0,0,3,R,L,4169,Marlins Park,C,0,0,0,000 1,1,0,0,100 1
21,Urena,570632,Strikeout,595453.0,NaN,NaN,595453.0,NaN,NaN,1,2,0,0,3,R,L,4169,Marlins Park,P,1,0,0,100 1,1,0,0,100 2
22,Brinson,621446,Forceout,595453.0,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,R,L,4169,Marlins Park,CF,1,0,0,100 2,0,0,0,000 3
23,Schwarber,656941,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,L,R,4169,Marlins Park,LF,0,0,0,000 0,0,0,0,000 1
24,Russell,608365,Single,NaN,NaN,NaN,608365.0,NaN,NaN,1,1,0,0,3,R,R,4169,Marlins Park,SS,0,0,0,000 1,1,0,0,100 1
25,Heyward,518792,Double,608365.0,NaN,NaN,NaN,518792.0,608365.0,1,1,0,0,3,L,R,4169,Marlins Park,RF,1,0,0,100 1,0,1,1,011 1
26,"Baez, J",595879,Intent Walk,NaN,518792.0,608365.0,595879.0,518792.0,608365.0,1,1,0,0,3,R,R,4169,Marlins Park,2B,0,1,1,011 1,1,1,1,111 1
27,Lester,452657,Grounded Into DP,595879.0,518792.0,608365.0,NaN,NaN,NaN,1,3,0,0,3,L,R,4169,Marlins Park,P,1,1,1,111 1,0,0,0,000 3
28,Dietrich,518618,Triple,NaN,NaN,NaN,NaN,NaN,518618.0,0,0,3,0,3,L,L,4169,Marlins Park,LF,0,0,0,000 0,0,0,1,001 0
29,"Castro, S",516770,Walk,NaN,NaN,518618.0,516770.0,NaN,518618.0,0,0,3,0,3,R,L,4169,Marlins Park,2B,0,0,1,001 0,1,0,1,101 0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185741,Iannetta,455104,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,R,22,Dodger Stadium,UN,0,0,0,000 0,0,0,0,000 1
185742,Blackmon,453568,Single,NaN,NaN,NaN,453568.0,NaN,NaN,1,1,0,0,3,L,R,22,Dodger Stadium,CF,0,0,0,000 1,1,0,0,100 1
185743,LeMahieu,518934,Groundout,453568.0,NaN,NaN,NaN,453568.0,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,2B,1,0,0,100 1,0,1,0,010 2
185744,Dahl,621311,Groundout,NaN,453568.0,NaN,NaN,NaN,NaN,2,3,0,0,3,L,R,22,Dodger Stadium,LF,0,1,0,010 2,0,0,0,000 3
185745,Bellinger,641355,Pop Out,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0,3,L,L,22,Dodger Stadium,CF,0,0,0,000 0,0,0,0,000 1
185746,Puig,624577,Lineout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,1,0,3,R,L,22,Dodger Stadium,RF,0,0,0,000 1,0,0,0,000 2
185747,"Hernandez, K",571771,Double,NaN,NaN,NaN,NaN,571771.0,NaN,2,2,1,0,3,R,L,22,Dodger Stadium,2B,0,0,0,000 2,0,1,0,010 2
185748,Buehler,621111,Single,NaN,571771.0,NaN,621111.0,NaN,NaN,2,2,1,1,3,R,L,22,Dodger Stadium,P,0,1,0,010 2,1,0,0,100 2
185749,Pederson,592626,Flyout,621111.0,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,L,L,22,Dodger Stadium,LF,1,0,0,100 2,0,0,0,000 3
185750,Arenado,571448,Flyout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,R,22,Dodger Stadium,3B,0,0,0,000 0,0,0,0,000 1
185751,Story,596115,Flyout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,SS,0,0,0,000 1,0,0,0,000 2
185752,"Gonzalez, C",471865,Walk,NaN,NaN,NaN,471865.0,NaN,NaN,2,2,0,0,3,L,R,22,Dodger Stadium,RF,0,0,0,000 2,1,0,0,100 2
185753,Desmond,435622,Walk,471865.0,NaN,NaN,435622.0,471865.0,NaN,2,2,0,0,3,R,R,22,Dodger Stadium,1B,1,0,0,100 2,1,1,0,110 2
185754,Holliday,407812,Pop Out,435622.0,471865.0,NaN,NaN,NaN,NaN,2,3,0,0,3,R,R,22,Dodger Stadium,UN,1,1,0,110 2,0,0,0,000 3
185755,Turner,457759,Single,NaN,NaN,NaN,457759.0,NaN,NaN,0,0,0,0,3,R,R,22,Dodger Stadium,3B,0,0,0,000 0,1,0,0,100 0
185756,Muncy,571970,Single,457759.0,NaN,NaN,571970.0,NaN,457759.0,0,0,0,0,3,L,R,22,Dodger Stadium,1B,1,0,0,100 0,1,0,1,101 0
185757,Machado,592518,Grounded Into DP,571970.0,NaN,457759.0,NaN,NaN,457759.0,0,2,0,0,3,R,R,22,Dodger Stadium,SS,1,0,1,101 0,0,0,1,001 2
185758,Grandal,518735,Strikeout,NaN,NaN,457759.0,NaN,NaN,NaN,2,3,0,0,3,R,L,22,Dodger Stadium,C,0,0,1,001 2,0,0,0,000 3
185759,Iannetta,455104,Lineout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,R,22,Dodger Stadium,UN,0,0,0,000 0,0,0,0,000 1
185760,Blackmon,453568,Single,NaN,NaN,NaN,453568.0,NaN,NaN,1,1,0,0,3,L,L,22,Dodger Stadium,CF,0,0,0,000 1,1,0,0,100 1
185761,LeMahieu,518934,Groundout,453568.0,NaN,NaN,NaN,453568.0,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,2B,1,0,0,100 1,0,1,0,010 2
185762,Dahl,621311,Strikeout,NaN,453568.0,NaN,NaN,NaN,NaN,2,3,0,0,3,L,R,22,Dodger Stadium,LF,0,1,0,010 2,0,0,0,000 3
185763,Bellinger,641355,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,L,L,22,Dodger Stadium,CF,0,0,0,000 0,0,0,0,000 1
185764,Puig,624577,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,3,R,L,22,Dodger Stadium,RF,0,0,0,000 1,0,0,0,000 2
185765,"Hernandez, K",571771,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,R,R,22,Dodger Stadium,2B,0,0,0,000 2,0,0,0,000 3
185766,Arenado,571448,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,0,0,2,1,3,R,R,22,Dodger Stadium,3B,0,0,0,000 0,0,0,0,000 0
185767,Story,596115,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,1,3,R,R,22,Dodger Stadium,SS,0,0,0,000 0,0,0,0,000 0
185768,"Gonzalez, C",471865,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,L,R,22,Dodger Stadium,RF,0,0,0,000 0,0,0,0,000 1
185769,Desmond,435622,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,1B,0,0,0,000 1,0,0,0,000 2
185770,Parra,467827,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,L,R,22,Dodger Stadium,UN,0,0,0,000 2,0,0,0,000 3

## Run Expectancy by Starting State

The MLBAM data conveniently includes the value of the runs scored from the beginning of each event to the end of the team's inning - this is the variable 'runsFuture'. So now we can simply use .groupby to calculate the average number of runs scored in the 24 starting states we have coded.

In [ ]:
# Calculate runs in remainder of inning for each state.

Start_RunExp = RE18.groupby(['Start_State'])['runsFuture'].mean().reset_index().rename(columns={'runsFuture':'Start_RE'})
display(Start_RunExp)

   Start_State  Start_RE
0        000 0  0.492774
1        000 1  0.264412
2        000 2  0.097473
3        001 0  1.424437
4        001 1  1.017470
5        001 2  0.360919
6        010 0  1.126799
7        010 1  0.683314
8        010 2  0.326355
9        011 0  1.936293
10       011 1  1.360219
11       011 2  0.611722
12       100 0  0.869314
13       100 1  0.527132
14       100 2  0.219231
15       101 0  1.782851
16       101 1  1.203794
17       101 2  0.495820
18       110 0  1.420023
19       110 1  0.933985
20       110 2  0.439188
21       111 0  2.347826
22       111 1  1.473014
23       111 2  0.771469

## Self Test

Calculate the total number of events for each starting state in the data.

We now merge the starting state run expectancy back into RE18, so we have the run expectancy at the start of each event in the data:

In [ ]:
# Merge run expectancy into MLBAM data based on original state
RE18 = pd.merge(RE18, Start_RunExp, on=['Start_State'], how='left')
display(RE18)

,batterName,batterId,event,start1B,start2B,start3B,end1B,end2B,end3B,startOuts,endOuts,runsFuture,runsOnPlay,outsInInning,stand,throws,venueId,stadium,batterPos,Start1,Start2,Start3,Start_State,End1,End2,End3,End_State,Start_RE
0,"Happ, I",664023,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,0,0,3,1,3,L,R,4169,Marlins Park,CF,0,0,0,000 0,0,0,0,000 0,0.492774
1,Bryant,592178,Walk,NaN,NaN,NaN,592178.0,NaN,NaN,0,0,2,0,3,R,R,4169,Marlins Park,3B,0,0,0,000 0,1,0,0,100 0,0.492774
2,Rizzo,519203,Hit By Pitch,592178.0,NaN,NaN,519203.0,592178.0,NaN,0,0,2,0,3,L,R,4169,Marlins Park,1B,1,0,0,100 0,1,1,0,110 0,0.869314
3,Contreras,575929,Strikeout,519203.0,592178.0,NaN,519203.0,592178.0,NaN,0,1,2,0,3,R,R,4169,Marlins Park,C,1,1,0,110 0,1,1,0,110 1,1.420023
4,Schwarber,656941,Groundout,519203.0,592178.0,NaN,NaN,519203.0,592178.0,1,2,2,0,3,L,R,4169,Marlins Park,LF,1,1,0,110 1,0,1,1,011 2,0.933985
5,Russell,608365,Hit By Pitch,NaN,519203.0,592178.0,608365.0,519203.0,592178.0,2,2,2,0,3,R,R,4169,Marlins Park,SS,0,1,1,011 2,1,1,1,111 2,0.611722
6,Heyward,518792,Walk,608365.0,519203.0,592178.0,518792.0,608365.0,519203.0,2,2,2,1,3,L,R,4169,Marlins Park,RF,1,1,1,111 2,1,1,1,111 2,0.771469
7,"Baez, J",595879,Hit By Pitch,518792.0,608365.0,519203.0,595879.0,518792.0,608365.0,2,2,1,1,3,R,R,4169,Marlins Park,2B,1,1,1,111 2,1,1,1,111 2,0.771469
8,Lester,452657,Groundout,595879.0,518792.0,608365.0,NaN,NaN,NaN,2,3,0,0,3,L,R,4169,Marlins Park,P,1,1,1,111 2,0,0,0,000 3,0.771469
9,Brinson,621446,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0,3,R,L,4169,Marlins Park,CF,0,0,0,000 0,0,0,0,000 1,0.492774
10,Dietrich,518618,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,1,0,3,L,L,4169,Marlins Park,LF,0,0,0,000 1,0,0,0,000 2,0.264412
11,"Castro, S",516770,Single,NaN,NaN,NaN,NaN,516770.0,NaN,2,2,1,0,3,R,L,4169,Marlins Park,2B,0,0,0,000 2,0,1,0,010 2,0.097473
12,Bour,571506,Walk,NaN,516770.0,NaN,571506.0,516770.0,NaN,2,2,1,0,3,L,L,4169,Marlins Park,1B,0,1,0,010 2,1,1,0,110 2,0.326355
13,"Anderson, B",605119,Single,571506.0,516770.0,NaN,605119.0,571506.0,NaN,2,2,1,1,3,R,L,4169,Marlins Park,3B,1,1,0,110 2,1,1,0,110 2,0.439188
14,Cooper,643265,Forceout,605119.0,571506.0,NaN,NaN,NaN,NaN,2,3,0,0,3,R,L,4169,Marlins Park,RF,1,1,0,110 2,0,0,0,000 3,0.439188
15,"Happ, I",664023,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0,3,L,R,4169,Marlins Park,CF,0,0,0,000 0,0,0,0,000 1,0.492774
16,Bryant,592178,Lineout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,1,0,3,R,R,4169,Marlins Park,3B,0,0,0,000 1,0,0,0,000 2,0.264412
17,Rizzo,519203,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,2,2,1,1,3,L,R,4169,Marlins Park,1B,0,0,0,000 2,0,0,0,000 2,0.097473
18,Contreras,575929,Pop Out,NaN,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,R,R,4169,Marlins Park,C,0,0,0,000 2,0,0,0,000 3,0.097473
19,Rojas,500743,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,L,4169,Marlins Park,SS,0,0,0,000 0,0,0,0,000 1,0.492774
20,Wallach,595453,Walk,NaN,NaN,NaN,595453.0,NaN,NaN,1,1,0,0,3,R,L,4169,Marlins Park,C,0,0,0,000 1,1,0,0,100 1,0.264412
21,Urena,570632,Strikeout,595453.0,NaN,NaN,595453.0,NaN,NaN,1,2,0,0,3,R,L,4169,Marlins Park,P,1,0,0,100 1,1,0,0,100 2,0.527132
22,Brinson,621446,Forceout,595453.0,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,R,L,4169,Marlins Park,CF,1,0,0,100 2,0,0,0,000 3,0.219231
23,Schwarber,656941,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,L,R,4169,Marlins Park,LF,0,0,0,000 0,0,0,0,000 1,0.492774
24,Russell,608365,Single,NaN,NaN,NaN,608365.0,NaN,NaN,1,1,0,0,3,R,R,4169,Marlins Park,SS,0,0,0,000 1,1,0,0,100 1,0.264412
25,Heyward,518792,Double,608365.0,NaN,NaN,NaN,518792.0,608365.0,1,1,0,0,3,L,R,4169,Marlins Park,RF,1,0,0,100 1,0,1,1,011 1,0.527132
26,"Baez, J",595879,Intent Walk,NaN,518792.0,608365.0,595879.0,518792.0,608365.0,1,1,0,0,3,R,R,4169,Marlins Park,2B,0,1,1,011 1,1,1,1,111 1,1.360219
27,Lester,452657,Grounded Into DP,595879.0,518792.0,608365.0,NaN,NaN,NaN,1,3,0,0,3,L,R,4169,Marlins Park,P,1,1,1,111 1,0,0,0,000 3,1.473014
28,Dietrich,518618,Triple,NaN,NaN,NaN,NaN,NaN,518618.0,0,0,3,0,3,L,L,4169,Marlins Park,LF,0,0,0,000 0,0,0,1,001 0,0.492774
29,"Castro, S",516770,Walk,NaN,NaN,518618.0,516770.0,NaN,518618.0,0,0,3,0,3,R,L,4169,Marlins Park,2B,0,0,1,001 0,1,0,1,101 0,1.424437
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184919,Iannetta,455104,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,R,22,Dodger Stadium,UN,0,0,0,000 0,0,0,0,000 1,0.492774
184920,Blackmon,453568,Single,NaN,NaN,NaN,453568.0,NaN,NaN,1,1,0,0,3,L,R,22,Dodger Stadium,CF,0,0,0,000 1,1,0,0,100 1,0.264412
184921,LeMahieu,518934,Groundout,453568.0,NaN,NaN,NaN,453568.0,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,2B,1,0,0,100 1,0,1,0,010 2,0.527132
184922,Dahl,621311,Groundout,NaN,453568.0,NaN,NaN,NaN,NaN,2,3,0,0,3,L,R,22,Dodger Stadium,LF,0,1,0,010 2,0,0,0,000 3,0.326355
184923,Bellinger,641355,Pop Out,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0,3,L,L,22,Dodger Stadium,CF,0,0,0,000 0,0,0,0,000 1,0.492774
184924,Puig,624577,Lineout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,1,0,3,R,L,22,Dodger Stadium,RF,0,0,0,000 1,0,0,0,000 2,0.264412
184925,"Hernandez, K",571771,Double,NaN,NaN,NaN,NaN,571771.0,NaN,2,2,1,0,3,R,L,22,Dodger Stadium,2B,0,0,0,000 2,0,1,0,010 2,0.097473
184926,Buehler,621111,Single,NaN,571771.0,NaN,621111.0,NaN,NaN,2,2,1,1,3,R,L,22,Dodger Stadium,P,0,1,0,010 2,1,0,0,100 2,0.326355
184927,Pederson,592626,Flyout,621111.0,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,L,L,22,Dodger Stadium,LF,1,0,0,100 2,0,0,0,000 3,0.219231
184928,Arenado,571448,Flyout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,R,22,Dodger Stadium,3B,0,0,0,000 0,0,0,0,000 1,0.492774
184929,Story,596115,Flyout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,SS,0,0,0,000 1,0,0,0,000 2,0.264412
184930,"Gonzalez, C",471865,Walk,NaN,NaN,NaN,471865.0,NaN,NaN,2,2,0,0,3,L,R,22,Dodger Stadium,RF,0,0,0,000 2,1,0,0,100 2,0.097473
184931,Desmond,435622,Walk,471865.0,NaN,NaN,435622.0,471865.0,NaN,2,2,0,0,3,R,R,22,Dodger Stadium,1B,1,0,0,100 2,1,1,0,110 2,0.219231
184932,Holliday,407812,Pop Out,435622.0,471865.0,NaN,NaN,NaN,NaN,2,3,0,0,3,R,R,22,Dodger Stadium,UN,1,1,0,110 2,0,0,0,000 3,0.439188
184933,Turner,457759,Single,NaN,NaN,NaN,457759.0,NaN,NaN,0,0,0,0,3,R,R,22,Dodger Stadium,3B,0,0,0,000 0,1,0,0,100 0,0.492774
184934,Muncy,571970,Single,457759.0,NaN,NaN,571970.0,NaN,457759.0,0,0,0,0,3,L,R,22,Dodger Stadium,1B,1,0,0,100 0,1,0,1,101 0,0.869314
184935,Machado,592518,Grounded Into DP,571970.0,NaN,457759.0,NaN,NaN,457759.0,0,2,0,0,3,R,R,22,Dodger Stadium,SS,1,0,1,101 0,0,0,1,001 2,1.782851
184936,Grandal,518735,Strikeout,NaN,NaN,457759.0,NaN,NaN,NaN,2,3,0,0,3,R,L,22,Dodger Stadium,C,0,0,1,001 2,0,0,0,000 3,0.360919
184937,Iannetta,455104,Lineout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,R,22,Dodger Stadium,UN,0,0,0,000 0,0,0,0,000 1,0.492774
184938,Blackmon,453568,Single,NaN,NaN,NaN,453568.0,NaN,NaN,1,1,0,0,3,L,L,22,Dodger Stadium,CF,0,0,0,000 1,1,0,0,100 1,0.264412
184939,LeMahieu,518934,Groundout,453568.0,NaN,NaN,NaN,453568.0,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,2B,1,0,0,100 1,0,1,0,010 2,0.527132
184940,Dahl,621311,Strikeout,NaN,453568.0,NaN,NaN,NaN,NaN,2,3,0,0,3,L,R,22,Dodger Stadium,LF,0,1,0,010 2,0,0,0,000 3,0.326355
184941,Bellinger,641355,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,L,L,22,Dodger Stadium,CF,0,0,0,000 0,0,0,0,000 1,0.492774
184942,Puig,624577,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,3,R,L,22,Dodger Stadium,RF,0,0,0,000 1,0,0,0,000 2,0.264412
184943,"Hernandez, K",571771,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,R,R,22,Dodger Stadium,2B,0,0,0,000 2,0,0,0,000 3,0.097473
184944,Arenado,571448,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,0,0,2,1,3,R,R,22,Dodger Stadium,3B,0,0,0,000 0,0,0,0,000 0,0.492774
184945,Story,596115,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,1,3,R,R,22,Dodger Stadium,SS,0,0,0,000 0,0,0,0,000 0,0.492774
184946,"Gonzalez, C",471865,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,L,R,22,Dodger Stadium,RF,0,0,0,000 0,0,0,0,000 1,0.492774
184947,Desmond,435622,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,1B,0,0,0,000 1,0,0,0,000 2,0.264412
184948,Parra,467827,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,L,R,22,Dodger Stadium,UN,0,0,0,000 2,0,0,0,000 3,0.097473

## Run Expectancy by End State

A team's inning *ends* when there are three outs, but of course can never *start* with three outs. You can scroll through RE18 and find plenty of end state examples which end in a 3 - e.g. "000 3" (no one on base and three outs). Since we want to calculate the run value of an event we need to include the run expectancy of these states, which is by definition is zero, since no more runs can be scored when the inning is ended.

Thus we can define End_RunExp as being equal to Start_RunExp, only with the eight extra three outs states, each with zero run expectancy. So now we create those states and append them to the Start_RunExp df and rename it as End_RunExp.

In [ ]:
# Create series of observations for base state when there are 3 outs.

Base_State_3 = [pd.Series(['000 3', 0], index=Start_RunExp.columns),
                pd.Series(['001 3', 0], index=Start_RunExp.columns),
                pd.Series(['010 3', 0], index=Start_RunExp.columns),
                pd.Series(['011 3', 0], index=Start_RunExp.columns),
                pd.Series(['100 3', 0], index=Start_RunExp.columns),
                pd.Series(['101 3', 0], index=Start_RunExp.columns),
                pd.Series(['110 3', 0], index=Start_RunExp.columns),
                pd.Series(['111 3', 0], index=Start_RunExp.columns)]

Base_State_3

[Start_State    000 3
 Start_RE           0
 dtype: object, Start_State    001 3
 Start_RE           0
 dtype: object, Start_State    010 3
 Start_RE           0
 dtype: object, Start_State    011 3
 Start_RE           0
 dtype: object, Start_State    100 3
 Start_RE           0
 dtype: object, Start_State    101 3
 Start_RE           0
 dtype: object, Start_State    110 3
 Start_RE           0
 dtype: object, Start_State    111 3
 Start_RE           0
 dtype: object]

In [ ]:
# Add these states to Start_RunExp, then rename this df as End_RunExp so we can merge the values back into RE18.

Start_RunExp = Start_RunExp.append(Base_State_3, ignore_index=True)

End_RunExp = Start_RunExp.rename(columns={'Start_State':'End_State', 'Start_RE':'End_RE'})

display(End_RunExp)

   End_State    End_RE
0      000 0  0.492774
1      000 1  0.264412
2      000 2  0.097473
3      001 0  1.424437
4      001 1  1.017470
5      001 2  0.360919
6      010 0  1.126799
7      010 1  0.683314
8      010 2  0.326355
9      011 0  1.936293
10     011 1  1.360219
11     011 2  0.611722
12     100 0  0.869314
13     100 1  0.527132
14     100 2  0.219231
15     101 0  1.782851
16     101 1  1.203794
17     101 2  0.495820
18     110 0  1.420023
19     110 1  0.933985
20     110 2  0.439188
21     111 0  2.347826
22     111 1  1.473014
23     111 2  0.771469
24     000 3  0.000000
25     001 3  0.000000
26     010 3  0.000000
27     011 3  0.000000
28     100 3  0.000000
29     101 3  0.000000
30     110 3  0.000000
31     111 3  0.000000

## Self test

Based on the example we gave at the beginning of this notebook, what was the value of the single in case (a) and case (b). In addition to calulating the change in run expectancy, don't foregt to credit the batter with the scoring of the run in case (b).

In [ ]:
# Merge run expectancy into RE18 based on End_State.

RE18 = pd.merge(RE18, End_RunExp, on=['End_State'], how='left')
display(RE18)

,batterName,batterId,event,start1B,start2B,start3B,end1B,end2B,end3B,startOuts,endOuts,runsFuture,runsOnPlay,outsInInning,stand,throws,venueId,stadium,batterPos,Start1,Start2,Start3,Start_State,End1,End2,End3,End_State,Start_RE,End_RE
0,"Happ, I",664023,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,0,0,3,1,3,L,R,4169,Marlins Park,CF,0,0,0,000 0,0,0,0,000 0,0.492774,0.492774
1,Bryant,592178,Walk,NaN,NaN,NaN,592178.0,NaN,NaN,0,0,2,0,3,R,R,4169,Marlins Park,3B,0,0,0,000 0,1,0,0,100 0,0.492774,0.869314
2,Rizzo,519203,Hit By Pitch,592178.0,NaN,NaN,519203.0,592178.0,NaN,0,0,2,0,3,L,R,4169,Marlins Park,1B,1,0,0,100 0,1,1,0,110 0,0.869314,1.420023
3,Contreras,575929,Strikeout,519203.0,592178.0,NaN,519203.0,592178.0,NaN,0,1,2,0,3,R,R,4169,Marlins Park,C,1,1,0,110 0,1,1,0,110 1,1.420023,0.933985
4,Schwarber,656941,Groundout,519203.0,592178.0,NaN,NaN,519203.0,592178.0,1,2,2,0,3,L,R,4169,Marlins Park,LF,1,1,0,110 1,0,1,1,011 2,0.933985,0.611722
5,Russell,608365,Hit By Pitch,NaN,519203.0,592178.0,608365.0,519203.0,592178.0,2,2,2,0,3,R,R,4169,Marlins Park,SS,0,1,1,011 2,1,1,1,111 2,0.611722,0.771469
6,Heyward,518792,Walk,608365.0,519203.0,592178.0,518792.0,608365.0,519203.0,2,2,2,1,3,L,R,4169,Marlins Park,RF,1,1,1,111 2,1,1,1,111 2,0.771469,0.771469
7,"Baez, J",595879,Hit By Pitch,518792.0,608365.0,519203.0,595879.0,518792.0,608365.0,2,2,1,1,3,R,R,4169,Marlins Park,2B,1,1,1,111 2,1,1,1,111 2,0.771469,0.771469
8,Lester,452657,Groundout,595879.0,518792.0,608365.0,NaN,NaN,NaN,2,3,0,0,3,L,R,4169,Marlins Park,P,1,1,1,111 2,0,0,0,000 3,0.771469,0.000000
9,Brinson,621446,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0,3,R,L,4169,Marlins Park,CF,0,0,0,000 0,0,0,0,000 1,0.492774,0.264412
10,Dietrich,518618,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,1,0,3,L,L,4169,Marlins Park,LF,0,0,0,000 1,0,0,0,000 2,0.264412,0.097473
11,"Castro, S",516770,Single,NaN,NaN,NaN,NaN,516770.0,NaN,2,2,1,0,3,R,L,4169,Marlins Park,2B,0,0,0,000 2,0,1,0,010 2,0.097473,0.326355
12,Bour,571506,Walk,NaN,516770.0,NaN,571506.0,516770.0,NaN,2,2,1,0,3,L,L,4169,Marlins Park,1B,0,1,0,010 2,1,1,0,110 2,0.326355,0.439188
13,"Anderson, B",605119,Single,571506.0,516770.0,NaN,605119.0,571506.0,NaN,2,2,1,1,3,R,L,4169,Marlins Park,3B,1,1,0,110 2,1,1,0,110 2,0.439188,0.439188
14,Cooper,643265,Forceout,605119.0,571506.0,NaN,NaN,NaN,NaN,2,3,0,0,3,R,L,4169,Marlins Park,RF,1,1,0,110 2,0,0,0,000 3,0.439188,0.000000
15,"Happ, I",664023,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0,3,L,R,4169,Marlins Park,CF,0,0,0,000 0,0,0,0,000 1,0.492774,0.264412
16,Bryant,592178,Lineout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,1,0,3,R,R,4169,Marlins Park,3B,0,0,0,000 1,0,0,0,000 2,0.264412,0.097473
17,Rizzo,519203,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,2,2,1,1,3,L,R,4169,Marlins Park,1B,0,0,0,000 2,0,0,0,000 2,0.097473,0.097473
18,Contreras,575929,Pop Out,NaN,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,R,R,4169,Marlins Park,C,0,0,0,000 2,0,0,0,000 3,0.097473,0.000000
19,Rojas,500743,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,L,4169,Marlins Park,SS,0,0,0,000 0,0,0,0,000 1,0.492774,0.264412
20,Wallach,595453,Walk,NaN,NaN,NaN,595453.0,NaN,NaN,1,1,0,0,3,R,L,4169,Marlins Park,C,0,0,0,000 1,1,0,0,100 1,0.264412,0.527132
21,Urena,570632,Strikeout,595453.0,NaN,NaN,595453.0,NaN,NaN,1,2,0,0,3,R,L,4169,Marlins Park,P,1,0,0,100 1,1,0,0,100 2,0.527132,0.219231
22,Brinson,621446,Forceout,595453.0,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,R,L,4169,Marlins Park,CF,1,0,0,100 2,0,0,0,000 3,0.219231,0.000000
23,Schwarber,656941,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,L,R,4169,Marlins Park,LF,0,0,0,000 0,0,0,0,000 1,0.492774,0.264412
24,Russell,608365,Single,NaN,NaN,NaN,608365.0,NaN,NaN,1,1,0,0,3,R,R,4169,Marlins Park,SS,0,0,0,000 1,1,0,0,100 1,0.264412,0.527132
25,Heyward,518792,Double,608365.0,NaN,NaN,NaN,518792.0,608365.0,1,1,0,0,3,L,R,4169,Marlins Park,RF,1,0,0,100 1,0,1,1,011 1,0.527132,1.360219
26,"Baez, J",595879,Intent Walk,NaN,518792.0,608365.0,595879.0,518792.0,608365.0,1,1,0,0,3,R,R,4169,Marlins Park,2B,0,1,1,011 1,1,1,1,111 1,1.360219,1.473014
27,Lester,452657,Grounded Into DP,595879.0,518792.0,608365.0,NaN,NaN,NaN,1,3,0,0,3,L,R,4169,Marlins Park,P,1,1,1,111 1,0,0,0,000 3,1.473014,0.000000
28,Dietrich,518618,Triple,NaN,NaN,NaN,NaN,NaN,518618.0,0,0,3,0,3,L,L,4169,Marlins Park,LF,0,0,0,000 0,0,0,1,001 0,0.492774,1.424437
29,"Castro, S",516770,Walk,NaN,NaN,518618.0,516770.0,NaN,518618.0,0,0,3,0,3,R,L,4169,Marlins Park,2B,0,0,1,001 0,1,0,1,101 0,1.424437,1.782851
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184919,Iannetta,455104,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,R,22,Dodger Stadium,UN,0,0,0,000 0,0,0,0,000 1,0.492774,0.264412
184920,Blackmon,453568,Single,NaN,NaN,NaN,453568.0,NaN,NaN,1,1,0,0,3,L,R,22,Dodger Stadium,CF,0,0,0,000 1,1,0,0,100 1,0.264412,0.527132
184921,LeMahieu,518934,Groundout,453568.0,NaN,NaN,NaN,453568.0,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,2B,1,0,0,100 1,0,1,0,010 2,0.527132,0.326355
184922,Dahl,621311,Groundout,NaN,453568.0,NaN,NaN,NaN,NaN,2,3,0,0,3,L,R,22,Dodger Stadium,LF,0,1,0,010 2,0,0,0,000 3,0.326355,0.000000
184923,Bellinger,641355,Pop Out,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0,3,L,L,22,Dodger Stadium,CF,0,0,0,000 0,0,0,0,000 1,0.492774,0.264412
184924,Puig,624577,Lineout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,1,0,3,R,L,22,Dodger Stadium,RF,0,0,0,000 1,0,0,0,000 2,0.264412,0.097473
184925,"Hernandez, K",571771,Double,NaN,NaN,NaN,NaN,571771.0,NaN,2,2,1,0,3,R,L,22,Dodger Stadium,2B,0,0,0,000 2,0,1,0,010 2,0.097473,0.326355
184926,Buehler,621111,Single,NaN,571771.0,NaN,621111.0,NaN,NaN,2,2,1,1,3,R,L,22,Dodger Stadium,P,0,1,0,010 2,1,0,0,100 2,0.326355,0.219231
184927,Pederson,592626,Flyout,621111.0,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,L,L,22,Dodger Stadium,LF,1,0,0,100 2,0,0,0,000 3,0.219231,0.000000
184928,Arenado,571448,Flyout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,R,22,Dodger Stadium,3B,0,0,0,000 0,0,0,0,000 1,0.492774,0.264412
184929,Story,596115,Flyout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,SS,0,0,0,000 1,0,0,0,000 2,0.264412,0.097473
184930,"Gonzalez, C",471865,Walk,NaN,NaN,NaN,471865.0,NaN,NaN,2,2,0,0,3,L,R,22,Dodger Stadium,RF,0,0,0,000 2,1,0,0,100 2,0.097473,0.219231
184931,Desmond,435622,Walk,471865.0,NaN,NaN,435622.0,471865.0,NaN,2,2,0,0,3,R,R,22,Dodger Stadium,1B,1,0,0,100 2,1,1,0,110 2,0.219231,0.439188
184932,Holliday,407812,Pop Out,435622.0,471865.0,NaN,NaN,NaN,NaN,2,3,0,0,3,R,R,22,Dodger Stadium,UN,1,1,0,110 2,0,0,0,000 3,0.439188,0.000000
184933,Turner,457759,Single,NaN,NaN,NaN,457759.0,NaN,NaN,0,0,0,0,3,R,R,22,Dodger Stadium,3B,0,0,0,000 0,1,0,0,100 0,0.492774,0.869314
184934,Muncy,571970,Single,457759.0,NaN,NaN,571970.0,NaN,457759.0,0,0,0,0,3,L,R,22,Dodger Stadium,1B,1,0,0,100 0,1,0,1,101 0,0.869314,1.782851
184935,Machado,592518,Grounded Into DP,571970.0,NaN,457759.0,NaN,NaN,457759.0,0,2,0,0,3,R,R,22,Dodger Stadium,SS,1,0,1,101 0,0,0,1,001 2,1.782851,0.360919
184936,Grandal,518735,Strikeout,NaN,NaN,457759.0,NaN,NaN,NaN,2,3,0,0,3,R,L,22,Dodger Stadium,C,0,0,1,001 2,0,0,0,000 3,0.360919,0.000000
184937,Iannetta,455104,Lineout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,R,22,Dodger Stadium,UN,0,0,0,000 0,0,0,0,000 1,0.492774,0.264412
184938,Blackmon,453568,Single,NaN,NaN,NaN,453568.0,NaN,NaN,1,1,0,0,3,L,L,22,Dodger Stadium,CF,0,0,0,000 1,1,0,0,100 1,0.264412,0.527132
184939,LeMahieu,518934,Groundout,453568.0,NaN,NaN,NaN,453568.0,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,2B,1,0,0,100 1,0,1,0,010 2,0.527132,0.326355
184940,Dahl,621311,Strikeout,NaN,453568.0,NaN,NaN,NaN,NaN,2,3,0,0,3,L,R,22,Dodger Stadium,LF,0,1,0,010 2,0,0,0,000 3,0.326355,0.000000
184941,Bellinger,641355,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,L,L,22,Dodger Stadium,CF,0,0,0,000 0,0,0,0,000 1,0.492774,0.264412
184942,Puig,624577,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,3,R,L,22,Dodger Stadium,RF,0,0,0,000 1,0,0,0,000 2,0.264412,0.097473
184943,"Hernandez, K",571771,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,R,R,22,Dodger Stadium,2B,0,0,0,000 2,0,0,0,000 3,0.097473,0.000000
184944,Arenado,571448,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,0,0,2,1,3,R,R,22,Dodger Stadium,3B,0,0,0,000 0,0,0,0,000 0,0.492774,0.492774
184945,Story,596115,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,1,3,R,R,22,Dodger Stadium,SS,0,0,0,000 0,0,0,0,000 0,0.492774,0.492774
184946,"Gonzalez, C",471865,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,L,R,22,Dodger Stadium,RF,0,0,0,000 0,0,0,0,000 1,0.492774,0.264412
184947,Desmond,435622,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,1B,0,0,0,000 1,0,0,0,000 2,0.264412,0.097473
184948,Parra,467827,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,L,R,22,Dodger Stadium,UN,0,0,0,000 2,0,0,0,000 3,0.097473,0.000000

In [ ]:
# Calculate Run Value of each event.

RE18['Run_Value'] = RE18['runsOnPlay'] + RE18['End_RE'] - RE18['Start_RE']
display(RE18)

,batterName,batterId,event,start1B,start2B,start3B,end1B,end2B,end3B,startOuts,endOuts,runsFuture,runsOnPlay,outsInInning,stand,throws,venueId,stadium,batterPos,Start1,Start2,Start3,Start_State,End1,End2,End3,End_State,Start_RE,End_RE,Run_Value
0,"Happ, I",664023,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,0,0,3,1,3,L,R,4169,Marlins Park,CF,0,0,0,000 0,0,0,0,000 0,0.492774,0.492774,1.000000
1,Bryant,592178,Walk,NaN,NaN,NaN,592178.0,NaN,NaN,0,0,2,0,3,R,R,4169,Marlins Park,3B,0,0,0,000 0,1,0,0,100 0,0.492774,0.869314,0.376540
2,Rizzo,519203,Hit By Pitch,592178.0,NaN,NaN,519203.0,592178.0,NaN,0,0,2,0,3,L,R,4169,Marlins Park,1B,1,0,0,100 0,1,1,0,110 0,0.869314,1.420023,0.550709
3,Contreras,575929,Strikeout,519203.0,592178.0,NaN,519203.0,592178.0,NaN,0,1,2,0,3,R,R,4169,Marlins Park,C,1,1,0,110 0,1,1,0,110 1,1.420023,0.933985,-0.486038
4,Schwarber,656941,Groundout,519203.0,592178.0,NaN,NaN,519203.0,592178.0,1,2,2,0,3,L,R,4169,Marlins Park,LF,1,1,0,110 1,0,1,1,011 2,0.933985,0.611722,-0.322263
5,Russell,608365,Hit By Pitch,NaN,519203.0,592178.0,608365.0,519203.0,592178.0,2,2,2,0,3,R,R,4169,Marlins Park,SS,0,1,1,011 2,1,1,1,111 2,0.611722,0.771469,0.159747
6,Heyward,518792,Walk,608365.0,519203.0,592178.0,518792.0,608365.0,519203.0,2,2,2,1,3,L,R,4169,Marlins Park,RF,1,1,1,111 2,1,1,1,111 2,0.771469,0.771469,1.000000
7,"Baez, J",595879,Hit By Pitch,518792.0,608365.0,519203.0,595879.0,518792.0,608365.0,2,2,1,1,3,R,R,4169,Marlins Park,2B,1,1,1,111 2,1,1,1,111 2,0.771469,0.771469,1.000000
8,Lester,452657,Groundout,595879.0,518792.0,608365.0,NaN,NaN,NaN,2,3,0,0,3,L,R,4169,Marlins Park,P,1,1,1,111 2,0,0,0,000 3,0.771469,0.000000,-0.771469
9,Brinson,621446,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0,3,R,L,4169,Marlins Park,CF,0,0,0,000 0,0,0,0,000 1,0.492774,0.264412,-0.228362
10,Dietrich,518618,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,1,0,3,L,L,4169,Marlins Park,LF,0,0,0,000 1,0,0,0,000 2,0.264412,0.097473,-0.166938
11,"Castro, S",516770,Single,NaN,NaN,NaN,NaN,516770.0,NaN,2,2,1,0,3,R,L,4169,Marlins Park,2B,0,0,0,000 2,0,1,0,010 2,0.097473,0.326355,0.228881
12,Bour,571506,Walk,NaN,516770.0,NaN,571506.0,516770.0,NaN,2,2,1,0,3,L,L,4169,Marlins Park,1B,0,1,0,010 2,1,1,0,110 2,0.326355,0.439188,0.112833
13,"Anderson, B",605119,Single,571506.0,516770.0,NaN,605119.0,571506.0,NaN,2,2,1,1,3,R,L,4169,Marlins Park,3B,1,1,0,110 2,1,1,0,110 2,0.439188,0.439188,1.000000
14,Cooper,643265,Forceout,605119.0,571506.0,NaN,NaN,NaN,NaN,2,3,0,0,3,R,L,4169,Marlins Park,RF,1,1,0,110 2,0,0,0,000 3,0.439188,0.000000,-0.439188
15,"Happ, I",664023,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0,3,L,R,4169,Marlins Park,CF,0,0,0,000 0,0,0,0,000 1,0.492774,0.264412,-0.228362
16,Bryant,592178,Lineout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,1,0,3,R,R,4169,Marlins Park,3B,0,0,0,000 1,0,0,0,000 2,0.264412,0.097473,-0.166938
17,Rizzo,519203,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,2,2,1,1,3,L,R,4169,Marlins Park,1B,0,0,0,000 2,0,0,0,000 2,0.097473,0.097473,1.000000
18,Contreras,575929,Pop Out,NaN,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,R,R,4169,Marlins Park,C,0,0,0,000 2,0,0,0,000 3,0.097473,0.000000,-0.097473
19,Rojas,500743,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,L,4169,Marlins Park,SS,0,0,0,000 0,0,0,0,000 1,0.492774,0.264412,-0.228362
20,Wallach,595453,Walk,NaN,NaN,NaN,595453.0,NaN,NaN,1,1,0,0,3,R,L,4169,Marlins Park,C,0,0,0,000 1,1,0,0,100 1,0.264412,0.527132,0.262721
21,Urena,570632,Strikeout,595453.0,NaN,NaN,595453.0,NaN,NaN,1,2,0,0,3,R,L,4169,Marlins Park,P,1,0,0,100 1,1,0,0,100 2,0.527132,0.219231,-0.307901
22,Brinson,621446,Forceout,595453.0,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,R,L,4169,Marlins Park,CF,1,0,0,100 2,0,0,0,000 3,0.219231,0.000000,-0.219231
23,Schwarber,656941,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,L,R,4169,Marlins Park,LF,0,0,0,000 0,0,0,0,000 1,0.492774,0.264412,-0.228362
24,Russell,608365,Single,NaN,NaN,NaN,608365.0,NaN,NaN,1,1,0,0,3,R,R,4169,Marlins Park,SS,0,0,0,000 1,1,0,0,100 1,0.264412,0.527132,0.262721
25,Heyward,518792,Double,608365.0,NaN,NaN,NaN,518792.0,608365.0,1,1,0,0,3,L,R,4169,Marlins Park,RF,1,0,0,100 1,0,1,1,011 1,0.527132,1.360219,0.833087
26,"Baez, J",595879,Intent Walk,NaN,518792.0,608365.0,595879.0,518792.0,608365.0,1,1,0,0,3,R,R,4169,Marlins Park,2B,0,1,1,011 1,1,1,1,111 1,1.360219,1.473014,0.112795
27,Lester,452657,Grounded Into DP,595879.0,518792.0,608365.0,NaN,NaN,NaN,1,3,0,0,3,L,R,4169,Marlins Park,P,1,1,1,111 1,0,0,0,000 3,1.473014,0.000000,-1.473014
28,Dietrich,518618,Triple,NaN,NaN,NaN,NaN,NaN,518618.0,0,0,3,0,3,L,L,4169,Marlins Park,LF,0,0,0,000 0,0,0,1,001 0,0.492774,1.424437,0.931663
29,"Castro, S",516770,Walk,NaN,NaN,518618.0,516770.0,NaN,518618.0,0,0,3,0,3,R,L,4169,Marlins Park,2B,0,0,1,001 0,1,0,1,101 0,1.424437,1.782851,0.358413
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184919,Iannetta,455104,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,R,22,Dodger Stadium,UN,0,0,0,000 0,0,0,0,000 1,0.492774,0.264412,-0.228362
184920,Blackmon,453568,Single,NaN,NaN,NaN,453568.0,NaN,NaN,1,1,0,0,3,L,R,22,Dodger Stadium,CF,0,0,0,000 1,1,0,0,100 1,0.264412,0.527132,0.262721
184921,LeMahieu,518934,Groundout,453568.0,NaN,NaN,NaN,453568.0,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,2B,1,0,0,100 1,0,1,0,010 2,0.527132,0.326355,-0.200778
184922,Dahl,621311,Groundout,NaN,453568.0,NaN,NaN,NaN,NaN,2,3,0,0,3,L,R,22,Dodger Stadium,LF,0,1,0,010 2,0,0,0,000 3,0.326355,0.000000,-0.326355
184923,Bellinger,641355,Pop Out,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0,3,L,L,22,Dodger Stadium,CF,0,0,0,000 0,0,0,0,000 1,0.492774,0.264412,-0.228362
184924,Puig,624577,Lineout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,1,0,3,R,L,22,Dodger Stadium,RF,0,0,0,000 1,0,0,0,000 2,0.264412,0.097473,-0.166938
184925,"Hernandez, K",571771,Double,NaN,NaN,NaN,NaN,571771.0,NaN,2,2,1,0,3,R,L,22,Dodger Stadium,2B,0,0,0,000 2,0,1,0,010 2,0.097473,0.326355,0.228881
184926,Buehler,621111,Single,NaN,571771.0,NaN,621111.0,NaN,NaN,2,2,1,1,3,R,L,22,Dodger Stadium,P,0,1,0,010 2,1,0,0,100 2,0.326355,0.219231,0.892876
184927,Pederson,592626,Flyout,621111.0,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,L,L,22,Dodger Stadium,LF,1,0,0,100 2,0,0,0,000 3,0.219231,0.000000,-0.219231
184928,Arenado,571448,Flyout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,R,22,Dodger Stadium,3B,0,0,0,000 0,0,0,0,000 1,0.492774,0.264412,-0.228362
184929,Story,596115,Flyout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,SS,0,0,0,000 1,0,0,0,000 2,0.264412,0.097473,-0.166938
184930,"Gonzalez, C",471865,Walk,NaN,NaN,NaN,471865.0,NaN,NaN,2,2,0,0,3,L,R,22,Dodger Stadium,RF,0,0,0,000 2,1,0,0,100 2,0.097473,0.219231,0.121758
184931,Desmond,435622,Walk,471865.0,NaN,NaN,435622.0,471865.0,NaN,2,2,0,0,3,R,R,22,Dodger Stadium,1B,1,0,0,100 2,1,1,0,110 2,0.219231,0.439188,0.219957
184932,Holliday,407812,Pop Out,435622.0,471865.0,NaN,NaN,NaN,NaN,2,3,0,0,3,R,R,22,Dodger Stadium,UN,1,1,0,110 2,0,0,0,000 3,0.439188,0.000000,-0.439188
184933,Turner,457759,Single,NaN,NaN,NaN,457759.0,NaN,NaN,0,0,0,0,3,R,R,22,Dodger Stadium,3B,0,0,0,000 0,1,0,0,100 0,0.492774,0.869314,0.376540
184934,Muncy,571970,Single,457759.0,NaN,NaN,571970.0,NaN,457759.0,0,0,0,0,3,L,R,22,Dodger Stadium,1B,1,0,0,100 0,1,0,1,101 0,0.869314,1.782851,0.913537
184935,Machado,592518,Grounded Into DP,571970.0,NaN,457759.0,NaN,NaN,457759.0,0,2,0,0,3,R,R,22,Dodger Stadium,SS,1,0,1,101 0,0,0,1,001 2,1.782851,0.360919,-1.421932
184936,Grandal,518735,Strikeout,NaN,NaN,457759.0,NaN,NaN,NaN,2,3,0,0,3,R,L,22,Dodger Stadium,C,0,0,1,001 2,0,0,0,000 3,0.360919,0.000000,-0.360919
184937,Iannetta,455104,Lineout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,R,R,22,Dodger Stadium,UN,0,0,0,000 0,0,0,0,000 1,0.492774,0.264412,-0.228362
184938,Blackmon,453568,Single,NaN,NaN,NaN,453568.0,NaN,NaN,1,1,0,0,3,L,L,22,Dodger Stadium,CF,0,0,0,000 1,1,0,0,100 1,0.264412,0.527132,0.262721
184939,LeMahieu,518934,Groundout,453568.0,NaN,NaN,NaN,453568.0,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,2B,1,0,0,100 1,0,1,0,010 2,0.527132,0.326355,-0.200778
184940,Dahl,621311,Strikeout,NaN,453568.0,NaN,NaN,NaN,NaN,2,3,0,0,3,L,R,22,Dodger Stadium,LF,0,1,0,010 2,0,0,0,000 3,0.326355,0.000000,-0.326355
184941,Bellinger,641355,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,L,L,22,Dodger Stadium,CF,0,0,0,000 0,0,0,0,000 1,0.492774,0.264412,-0.228362
184942,Puig,624577,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,3,R,L,22,Dodger Stadium,RF,0,0,0,000 1,0,0,0,000 2,0.264412,0.097473,-0.166938
184943,"Hernandez, K",571771,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,R,R,22,Dodger Stadium,2B,0,0,0,000 2,0,0,0,000 3,0.097473,0.000000,-0.097473
184944,Arenado,571448,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,0,0,2,1,3,R,R,22,Dodger Stadium,3B,0,0,0,000 0,0,0,0,000 0,0.492774,0.492774,1.000000
184945,Story,596115,Home Run,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,1,3,R,R,22,Dodger Stadium,SS,0,0,0,000 0,0,0,0,000 0,0.492774,0.492774,1.000000
184946,"Gonzalez, C",471865,Groundout,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,3,L,R,22,Dodger Stadium,RF,0,0,0,000 0,0,0,0,000 1,0.492774,0.264412,-0.228362
184947,Desmond,435622,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0,0,3,R,R,22,Dodger Stadium,1B,0,0,0,000 1,0,0,0,000 2,0.264412,0.097473,-0.166938
184948,Parra,467827,Strikeout,NaN,NaN,NaN,NaN,NaN,NaN,2,3,0,0,3,L,R,22,Dodger Stadium,UN,0,0,0,000 2,0,0,0,000 3,0.097473,0.000000,-0.097473

## Self Test

Use a .groupby to calculate the run value of each event. Use this to compare the run value of singles, doubles, triples, and home runs.

In [ ]:
Event_Value = RE18.groupby(['event'])['Run_Value'].mean().reset_index()
Event_Value

                   event  Run_Value
0    Batter Interference  -0.311407
1         Bunt Groundout  -0.204822
2           Bunt Lineout  -0.284409
3           Bunt Pop Out  -0.340599
4   Catcher Interference   0.301083
5                 Double   0.769674
6            Double Play  -0.859795
7       Fan interference   0.615308
8            Field Error   0.491236
9        Fielders Choice   0.686499
10   Fielders Choice Out  -0.669636
11                Flyout  -0.251326
12              Forceout  -0.333585
13      Grounded Into DP  -0.792997
14             Groundout  -0.213160
15          Hit By Pitch   0.326091
16              Home Run   1.379867
17           Intent Walk   0.166116
18               Lineout  -0.247082
19               Pop Out  -0.271636
20            Runner Out  -0.273331
21              Sac Bunt  -0.083890
22               Sac Fly   0.014230
23            Sac Fly DP  -0.315393
24     Sacrifice Bunt DP  -0.771841
25                Single   0.450161
26             Strikeout  -0.260705
27        Strikeout - DP  -0.638687
28                Triple   1.111033
29           Triple Play  -1.883925
30                  Walk   0.315230

## Self Test

Use .groupby and .sort_values to rank players from highest run value to lowest run value.

In [ ]:
Player_Value = RE18.groupby(['batterName'])['Run_Value'].sum().reset_index()
Player_Value

       batterName  Run_Value
0           Abreu   8.821659
1       Acuna Jr.  27.717122
2          Adames -10.321164
3           Adams  18.523683
4        Adams, L  -0.295852
5        Adams, M  -9.591630
6          Adduci  -0.880345
7        Adrianza  -1.466010
8         Aguilar  23.346519
9           Ahmed  -3.383797
10        Alberto  -2.867445
11         Albies   8.194943
12      Alcantara  -2.943627
13      Alexander  -1.087355
14         Alfaro  -0.786271
15         Alford  -0.677384
16         Allard   0.731863
17       Allen, G -16.326259
18        Almonte -12.735062
19     Almora Jr. -13.383636
20         Alonso   8.642589
21      Alonso, Y  -1.307209
22        Altherr  -8.462769
23         Altuve  21.068959
24     Alvarez, P  -1.986484
25       Anderson  -0.836581
26    Anderson, B  13.649610
27   Anderson, Ch  -9.243071
28    Anderson, T  -8.488848
29   Anderson, Ti -15.982257
..            ...        ...
963   Williams, T  -9.229807
964    Williamson   0.392014
965     Wilson, B  -8.198974
966     Wilson, J  -0.200778
967        Winker  22.818907
968       Winkler  -0.322263
969        Wisdom   2.886929
970        Wisler  -1.564454
971       Wolters  -0.698163
972          Wong  -0.365155
973       Wood, A -10.168055
974      Woodruff  -0.454429
975        Wright  -0.270401
976    Wright Jr.  -0.439188
977         Wynns  -3.788299
978     Yarbrough  -1.009732
979         Yates  -1.088173
980        Yelich  60.583786
981     Young Jr. -10.413018
982      Young, C  -7.091291
983       Zagunis   0.938974
984        Zimmer  -5.684702
985     Zimmerman  10.318375
986    Zimmermann  -0.325836
987       Zobrist  18.083341
988        Zunino -18.718542
989      d'Arnaud  -4.738871
990   d'Arnaud, T  -0.166887
991        deGrom  -6.781251
992    den Dekker  -3.015592

[993 rows x 2 columns]

In [ ]:
Player_Value = Player_Value.sort_values(by=['Run_Value'], ascending=False)
Player_Value

       batterName  Run_Value
554   Martinez, J  75.124792
80          Betts  65.724469
907         Trout  62.286430
980        Yelich  60.583786
715    Ramirez, J  53.113122
107       Bregman  47.991925
387        Harper  45.635485
911        Turner  45.551059
332   Goldschmidt  43.334644
39        Arenado  42.742499
456         Judge  41.458268
510        Lindor  40.956650
290       Freeman  40.538518
74     Benintendi  38.332698
728        Rendon  37.271617
142   Castellanos  36.472490
93       Bogaerts  36.236329
618         Muncy  36.032064
138  Carpenter, M  35.566425
523        Lowrie  33.930372
868        Suarez  33.827986
414      Hicks, A  32.341264
859         Story  31.914934
745         Rizzo  31.710874
941         Votto  31.613827
531       Machado  31.485353
49        Baez, J  31.326481
426       Hoskins  29.717075
845          Soto  29.300028
208      Davis, K  28.775032
..            ...        ...
757         Rojas -16.039813
405  Hernandez, G -16.042454
744     Rivera, Y -16.126397
17       Allen, G -16.326259
525        Lucroy -16.447673
693        Pirela -16.482104
234     Dozier, H -16.533006
871         Sucre -16.696435
920      Valbuena -16.891185
813   Severino, P -17.288517
283        Fowler -18.263610
988        Zunino -18.718542
556   Martinez, V -18.851501
335         Gomez -19.843349
768    Rosario, A -20.324625
254    Escobar, A -20.420280
926       Vazquez -20.942497
841       Solarte -21.076071
111       Brinson -21.320073
890     Taylor, M -21.728289
38       Arcia, O -21.739332
476       Kingery -22.048009
378      Hamilton -22.091662
822        Sierra -22.265213
206      Davis, C -22.488663
348     Gordon, D -24.440022
565        McCann -24.483902
505          Leon -24.600317
250         Engel -25.448471
450      Jones, J -27.244452

[993 rows x 2 columns]

## Self Test

Use .groupby and .sort_values to rank ballparks from highest run value to the lowest run value.

In [ ]:
Ballparks_Value = RE18.groupby(['stadium'])['Run_Value'].sum().reset_index()
Ballparks_Value

                         stadium   Run_Value
0                      AT&T Park  -81.421174
1                  Angel Stadium    3.984514
2       Angel Stadium of Anaheim  -14.564660
3                  BB&T Ballpark    1.130068
4                  Busch Stadium  -38.015112
5                    Chase Field  -41.406722
6                     Citi Field -148.957304
7             Citizens Bank Park  -10.174083
8                  Comerica Park  -26.580146
9                    Coors Field  138.753657
10                Dodger Stadium  -63.957304
11  Estadio de Beisbol Monterrey   -7.624249
12                   Fenway Park   75.825917
13  Globe Life Park in Arlington  195.883725
14      Great American Ball Park   71.593278
15         Guaranteed Rate Field    9.448758
16         Hiram Bithorn Stadium  -15.145927
17              Kauffman Stadium   29.492114
18                  Marlins Park -146.161039
19                   Miller Park  -15.145179
20              Minute Maid Park  -54.666857
21                Nationals Park   53.057148
22              Oakland Coliseum  -54.406722
23   Oriole Park at Camden Yards   35.477662
24                      PNC Park  -62.753569
25                    Petco Park  -32.159631
26             Progressive Field   54.898176
27                 Rogers Centre   20.521018
28                  Safeco Field  -87.058468
29                 SunTrust Park   14.013792
30                  Target Field   58.957392
31               Tropicana Field  -60.231891
32                 Wrigley Field    1.535470
33                Yankee Stadium   84.840369

In [ ]:
Ballparks_Value = Ballparks_Value.sort_values(by=['Run_Value'], ascending=False)
Ballparks_Value

                         stadium   Run_Value
13  Globe Life Park in Arlington  195.883725
9                    Coors Field  138.753657
33                Yankee Stadium   84.840369
12                   Fenway Park   75.825917
14      Great American Ball Park   71.593278
30                  Target Field   58.957392
26             Progressive Field   54.898176
21                Nationals Park   53.057148
23   Oriole Park at Camden Yards   35.477662
17              Kauffman Stadium   29.492114
27                 Rogers Centre   20.521018
29                 SunTrust Park   14.013792
15         Guaranteed Rate Field    9.448758
1                  Angel Stadium    3.984514
32                 Wrigley Field    1.535470
3                  BB&T Ballpark    1.130068
11  Estadio de Beisbol Monterrey   -7.624249
7             Citizens Bank Park  -10.174083
2       Angel Stadium of Anaheim  -14.564660
19                   Miller Park  -15.145179
16         Hiram Bithorn Stadium  -15.145927
8                  Comerica Park  -26.580146
25                    Petco Park  -32.159631
4                  Busch Stadium  -38.015112
5                    Chase Field  -41.406722
22              Oakland Coliseum  -54.406722
20              Minute Maid Park  -54.666857
31               Tropicana Field  -60.231891
24                      PNC Park  -62.753569
10                Dodger Stadium  -63.957304
0                      AT&T Park  -81.421174
28                  Safeco Field  -87.058468
18                  Marlins Park -146.161039
6                     Citi Field -148.957304

In [ ]:
Player_Value.to_csv("../Data/PLayerRV.csv")