In [ ]:
# 1.	Import pandas, numpy

In [1]:
#Load packages
import pandas as pd
import numpy as np

# I. Comparing Event Run Values

In [2]:
# Read in MLBAM Data for 2014-2017

MLBAM14 = pd.read_csv("../Data/MLBAM14.csv")
MLBAM15 = pd.read_csv("../Data/MLBAM15.csv")
MLBAM16 = pd.read_csv("../Data/MLBAM16.csv")
MLBAM17 = pd.read_csv("../Data/MLBAM17.csv")

In [5]:
MLBAM14

,Unnamed: 0,inning,batterId,pitcherId,event,x,y,ab_num,timestamp,stand,...,fielderId,gameId,isPA,isAB,isHit,isBIP,our.x,our.y,r,theta
0,1,1,624577,489119,Strikeout,NaN,NaN,1,2014-03-22 09:00:25,R,...,NaN,gid_2014_03_22_lanmlb_arimlb_1,True,True,False,False,NaN,NaN,NaN,NaN
1,2,1,457759,489119,Strikeout,NaN,NaN,2,2014-03-22 09:01:45,R,...,NaN,gid_2014_03_22_lanmlb_arimlb_1,True,True,False,False,NaN,NaN,NaN,NaN
2,3,1,434670,489119,Groundout,139.56,160.64,3,2014-03-22 09:03:23,R,...,431094.0,gid_2014_03_22_lanmlb_arimlb_1,True,True,False,True,36.336970,95.733939,102.398059,1.208032
3,4,1,572041,477132,Strikeout,NaN,NaN,4,2014-03-22 09:08:01,R,...,NaN,gid_2014_03_22_lanmlb_arimlb_1,True,True,False,False,NaN,NaN,NaN,NaN
4,5,1,431094,477132,Single,110.44,152.61,5,2014-03-22 09:09:10,R,...,NaN,gid_2014_03_22_lanmlb_arimlb_1,True,True,True,True,-36.336970,115.774177,121.342637,1.874920
5,6,1,502671,477132,Single,79.32,113.45,6,2014-03-22 09:10:36,R,...,NaN,gid_2014_03_22_lanmlb_arimlb_1,True,True,True,True,-114.002251,213.504653,242.034605,2.061239
6,7,1,445988,477132,Groundout,115.46,187.75,7,2014-03-22 09:11:58,R,...,477132.0,gid_2014_03_22_lanmlb_arimlb_1,True,True,False,True,-23.808701,28.076299,36.812128,2.274128
7,8,1,444432,477132,Groundout,109.44,158.63,8,2014-03-22 09:13:38,R,...,434670.0,gid_2014_03_22_lanmlb_arimlb_1,True,True,False,True,-38.832641,100.750238,107.974925,1.938684
8,9,2,408236,489119,Walk,NaN,NaN,9,2014-03-22 09:17:44,L,...,NaN,gid_2014_03_22_lanmlb_arimlb_1,True,False,False,False,NaN,NaN,NaN,NaN
9,10,2,475100,489119,Double,59.24,62.25,10,2014-03-22 09:19:14,R,...,NaN,gid_2014_03_22_lanmlb_arimlb_1,True,True,True,True,-164.115324,341.283008,378.692397,2.019029
10,11,2,346874,489119,Strikeout,NaN,NaN,11,2014-03-22 09:21:34,R,...,NaN,gid_2014_03_22_lanmlb_arimlb_1,True,True,False,False,NaN,NaN,NaN,NaN
11,12,2,444843,489119,Groundout,141.57,158.63,12,2014-03-22 09:24:19,L,...,431094.0,gid_2014_03_22_lanmlb_arimlb_1,True,True,False,True,41.353268,100.750238,108.906856,1.181311
12,13,2,454560,489119,Lineout,193.78,93.37,13,2014-03-22 09:25:50,R,...,467827.0,gid_2014_03_22_lanmlb_arimlb_1,True,True,False,True,171.652251,263.617727,314.577178,0.993620
13,14,2,471083,477132,Lineout,55.22,75.30,14,2014-03-22 09:29:29,L,...,475100.0,gid_2014_03_22_lanmlb_arimlb_1,True,True,False,True,-174.147922,308.714502,354.446247,2.084405
14,15,2,572008,477132,Strikeout,NaN,NaN,15,2014-03-22 09:30:52,R,...,NaN,gid_2014_03_22_lanmlb_arimlb_1,True,True,False,False,NaN,NaN,NaN,NaN
15,16,2,467827,477132,Strikeout,NaN,NaN,16,2014-03-22 09:32:17,L,...,NaN,gid_2014_03_22_lanmlb_arimlb_1,True,True,False,False,NaN,NaN,NaN,NaN
16,17,3,477132,489119,Strikeout,NaN,NaN,17,2014-03-22 09:35:41,L,...,NaN,gid_2014_03_22_lanmlb_arimlb_1,True,True,False,False,NaN,NaN,NaN,NaN
17,18,3,624577,489119,Groundout,124.50,186.75,18,2014-03-22 09:36:53,R,...,489119.0,gid_2014_03_22_lanmlb_arimlb_1,True,True,False,True,-1.247835,30.571970,30.597425,1.611590
18,19,3,457759,489119,Flyout,136.55,77.31,19,2014-03-22 09:37:59,R,...,572041.0,gid_2014_03_22_lanmlb_arimlb_1,True,True,False,True,28.825000,303.698203,305.063074,1.476167
19,20,3,489119,477132,Groundout,145.58,148.59,20,2014-03-22 09:42:41,L,...,457759.0,gid_2014_03_22_lanmlb_arimlb_1,True,True,False,True,51.360909,125.806775,135.887040,1.183196
20,21,3,572041,477132,Groundout,104.42,170.68,21,2014-03-22 09:46:31,R,...,346874.0,gid_2014_03_22_lanmlb_arimlb_1,True,True,False,True,-51.360909,70.677403,87.368405,2.199215
21,22,3,431094,477132,Walk,NaN,NaN,22,2014-03-22 09:48:23,R,...,NaN,gid_2014_03_22_lanmlb_arimlb_1,True,False,False,False,NaN,NaN,NaN,NaN
22,23,3,502671,477132,Flyout,128.51,49.20,23,2014-03-22 09:51:01,R,...,444843.0,gid_2014_03_22_lanmlb_arimlb_1,True,True,False,True,8.759805,373.851515,373.954127,1.547369
23,24,4,434670,489119,Pop Out,85.34,176.71,24,2014-03-22 09:53:13,R,...,572008.0,gid_2014_03_22_lanmlb_arimlb_1,True,True,False,True,-98.978312,55.628506,113.539583,2.629562
24,25,4,408236,489119,Strikeout,NaN,NaN,25,2014-03-22 09:54:12,L,...,NaN,gid_2014_03_22_lanmlb_arimlb_1,True,True,False,False,NaN,NaN,NaN,NaN
25,26,4,475100,489119,Home Run,225.90,84.34,26,2014-03-22 09:55:47,R,...,NaN,gid_2014_03_22_lanmlb_arimlb_1,True,True,True,False,251.813203,286.153636,381.174229,0.849145
26,27,4,346874,489119,Flyout,101.41,82.33,27,2014-03-22 09:57:02,R,...,572041.0,gid_2014_03_22_lanmlb_arimlb_1,True,True,False,True,-58.872879,291.169935,297.062193,1.770301
27,28,4,444843,489119,Groundout,144.58,157.63,28,2014-03-22 09:58:22,L,...,431094.0,gid_2014_03_22_lanmlb_arimlb_1,True,True,False,True,48.865238,103.245909,114.225782,1.128744
28,29,4,445988,477132,Groundout,144.58,151.61,29,2014-03-22 10:01:11,R,...,457759.0,gid_2014_03_22_lanmlb_arimlb_1,True,True,False,True,48.865238,118.269848,127.967060,1.178991
29,30,4,444432,477132,Groundout,136.55,164.66,30,2014-03-22 10:02:01,R,...,457759.0,gid_2014_03_22_lanmlb_arimlb_1,True,True,False,True,28.825000,85.701342,90.419028,1.246340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184641,184642,5,488912,475416,Flyout,177.71,110.44,31,2014-09-28 21:12:44,R,...,570805.0,gid_2014_09_28_slnmlb_arimlb_1,True,True,False,True,131.546818,221.016623,257.202086,1.033921
184642,184643,5,460060,475416,Single,166.67,96.39,32,2014-09-28 21:13:41,L,...,NaN,gid_2014_09_28_slnmlb_arimlb_1,True,True,True,True,103.994610,256.080801,276.391489,1.185042
184643,184644,5,544369,475416,Lineout,139.56,80.32,33,2014-09-28 21:15:39,L,...,488721.0,gid_2014_09_28_slnmlb_arimlb_1,True,True,False,True,36.336970,296.186233,298.406870,1.448723
184644,184645,6,518902,518567,Double,100.40,65.26,34,2014-09-28 21:20:28,R,...,NaN,gid_2014_09_28_slnmlb_arimlb_1,True,True,True,True,-61.393506,333.771039,339.370401,1.752702
184645,184646,6,489305,518567,Groundout,122.49,179.72,35,2014-09-28 21:21:28,R,...,518567.0,gid_2014_09_28_slnmlb_arimlb_1,True,True,False,True,-6.264134,48.116537,48.522577,1.700255
184646,184647,6,543939,518567,Groundout,113.45,168.67,36,2014-09-28 21:25:04,L,...,544369.0,gid_2014_09_28_slnmlb_arimlb_1,True,True,False,True,-28.825000,75.693701,80.996401,1.934652
184647,184648,6,545341,518567,Strikeout,NaN,NaN,37,2014-09-28 21:26:45,R,...,NaN,gid_2014_09_28_slnmlb_arimlb_1,True,True,False,False,NaN,NaN,NaN,NaN
184648,184649,6,518567,543779,Walk,NaN,NaN,38,2014-09-28 21:30:42,R,...,NaN,gid_2014_09_28_slnmlb_arimlb_1,True,False,False,False,NaN,NaN,NaN,NaN
184649,184650,6,542255,543779,Lineout,69.28,98.39,39,2014-09-28 21:32:22,L,...,545341.0,gid_2014_09_28_slnmlb_arimlb_1,True,True,False,True,-139.058788,251.089459,287.024847,2.076569
184650,184651,6,572041,543779,Walk,NaN,NaN,40,2014-09-28 21:33:57,R,...,NaN,gid_2014_09_28_slnmlb_arimlb_1,True,False,False,False,NaN,NaN,NaN,NaN
184651,184652,6,444482,594835,Grounded Into DP,NaN,NaN,41,2014-09-28 21:39:30,L,...,543939.0,gid_2014_09_28_slnmlb_arimlb_1,True,True,False,False,NaN,NaN,NaN,NaN
184652,184653,7,570805,518567,Groundout,159.64,165.66,42,2014-09-28 21:42:22,L,...,444432.0,gid_2014_09_28_slnmlb_arimlb_1,True,True,False,True,86.450043,83.205671,119.986639,0.766277
184653,184654,7,594824,518567,Bunt Groundout,115.46,184.74,43,2014-09-28 21:43:40,L,...,571875.0,gid_2014_09_28_slnmlb_arimlb_1,True,True,False,True,-23.808701,35.588268,42.817976,2.160415
184654,184655,7,518614,518567,Flyout,133.53,41.16,44,2014-09-28 21:44:34,L,...,572041.0,gid_2014_09_28_slnmlb_arimlb_1,True,True,False,True,21.288074,393.916709,394.491516,1.516807
184655,184656,7,444432,594835,Strikeout,NaN,NaN,45,2014-09-28 21:49:26,R,...,NaN,gid_2014_09_28_slnmlb_arimlb_1,True,True,False,False,NaN,NaN,NaN,NaN
184656,184657,7,571875,594835,Strikeout,NaN,NaN,46,2014-09-28 21:51:50,L,...,NaN,gid_2014_09_28_slnmlb_arimlb_1,True,True,False,False,NaN,NaN,NaN,NaN
184657,184658,7,488912,594835,Groundout,103.41,157.63,47,2014-09-28 21:53:23,R,...,518902.0,gid_2014_09_28_slnmlb_arimlb_1,True,True,False,True,-53.881537,103.245909,116.460026,2.051791
184658,184659,8,488810,518567,Pop Out,121.49,214.86,48,2014-09-28 21:57:22,R,...,488912.0,gid_2014_09_28_slnmlb_arimlb_1,True,True,False,True,-8.759805,-39.581342,40.539078,-1.788597
184659,184660,8,488721,518567,Groundout,108.43,156.63,49,2014-09-28 21:58:13,R,...,544369.0,gid_2014_09_28_slnmlb_arimlb_1,True,True,False,True,-41.353268,105.741580,113.540189,1.943588
184660,184661,8,518902,518567,Pop Out,162.65,177.71,50,2014-09-28 21:59:04,R,...,444432.0,gid_2014_09_28_slnmlb_arimlb_1,True,True,False,True,93.962013,53.132835,107.944236,0.514644
184661,184662,8,460060,594835,Flyout,125.50,95.38,51,2014-09-28 22:03:01,R,...,488721.0,gid_2014_09_28_slnmlb_arimlb_1,True,True,False,True,1.247835,258.601428,258.604439,1.565971
184662,184663,8,544369,594835,Groundout,143.57,153.61,52,2014-09-28 22:03:30,L,...,543939.0,gid_2014_09_28_slnmlb_arimlb_1,True,True,False,True,46.344610,113.278506,122.392168,1.182452
184663,184664,8,457574,594835,Walk,NaN,NaN,53,2014-09-28 22:04:26,R,...,NaN,gid_2014_09_28_slnmlb_arimlb_1,True,False,False,False,NaN,NaN,NaN,NaN
184664,184665,8,542255,594835,Runner Out,NaN,NaN,54,2014-09-28 22:07:10,L,...,NaN,gid_2014_09_28_slnmlb_arimlb_1,False,False,False,False,NaN,NaN,NaN,NaN
184665,184666,9,489305,605359,Pop Out,172.69,143.57,55,2014-09-28 22:13:05,R,...,444432.0,gid_2014_09_28_slnmlb_arimlb_1,True,True,False,True,119.018550,138.335043,182.488354,0.860316
184666,184667,9,594835,605359,Groundout,143.57,151.61,56,2014-09-28 22:16:22,L,...,460060.0,gid_2014_09_28_slnmlb_arimlb_1,True,True,False,True,46.344610,118.269848,127.025903,1.197331
184667,184668,9,545341,605359,Groundout,133.53,143.57,57,2014-09-28 22:17:33,R,...,460060.0,gid_2014_09_28_slnmlb_arimlb_1,True,True,False,True,21.288074,138.335043,139.963446,1.418106
184668,184669,9,542255,594835,Flyout,65.26,88.35,58,2014-09-28 22:20:00,L,...,545341.0,gid_2014_09_28_slnmlb_arimlb_1,True,True,False,True,-149.091385,276.145995,313.822963,2.065853
184669,184670,9,572041,593372,Lineout,204.82,81.33,59,2014-09-28 22:27:01,R,...,570805.0,gid_2014_09_28_slnmlb_arimlb_1,True,True,False,True,199.204459,293.665606,354.854765,0.974757
184670,184671,9,444482,593372,Flyout,83.33,107.43,60,2014-09-28 22:30:10,L,...,545341.0,gid_2014_09_28_slnmlb_arimlb_1,True,True,False,True,-103.994610,228.528593,251.078069,1.997852

In [ ]:
#Your Code Here

In [ ]:
# 2.	Using a function similar to what was used in the week’s exercise notebook, 
# calculate the run value for every event in 2014, 2015, 2016 and 2017

In [3]:
def Run_Expectancy(path):
    
    RE = pd.read_csv(path)
    RE.drop(['Unnamed: 0'], axis=1, inplace=True)
    RE = RE[['home_team','away_team','half','gameId','batterName','batterId','event', 'start1B', 'start2B', 'start3B',\
             'end1B', 'end2B', 'end3B', 'startOuts','endOuts','runsFuture','runsOnPlay','outsInInning','venueId','batterPos']]
    RE['Start1'] = np.where(pd.isnull(RE['start1B']),0,1)
    RE['Start2'] = np.where(pd.isnull(RE['start2B']),0,1)
    RE['Start3'] = np.where(pd.isnull(RE['start3B']),0,1)
    RE['Start_State'] = (RE['Start1'].astype(str) + RE['Start2'].astype(str) + RE['Start3'].astype(str)+\
                          " " + RE['startOuts'].astype(str))
    RE['End1'] = np.where(pd.isnull(RE['end1B']),0,1)
    RE['End2'] = np.where(pd.isnull(RE['end2B']),0,1)
    RE['End3'] = np.where(pd.isnull(RE['end3B']),0,1)
    RE['End_State'] = (RE['End1'].astype(str) + RE['End2'].astype(str) + RE['End3'].astype(str) + \
                        " " + RE['endOuts'].astype(str))
    RE = RE[((RE.Start_State != RE.End_State) | (RE.runsOnPlay > 0)) & (RE.outsInInning == 3)]
    Start_RunExp = RE.groupby(['Start_State'])['runsFuture'].mean().reset_index().rename(columns={'runsFuture':'Start_RE'})
    RE = pd.merge(RE, Start_RunExp, on=['Start_State'], how='left')
    Base_State_3 = [pd.Series(['000 3', 0], index=Start_RunExp.columns),
                pd.Series(['001 3', 0], index=Start_RunExp.columns),
                pd.Series(['010 3', 0], index=Start_RunExp.columns),
                pd.Series(['011 3', 0], index=Start_RunExp.columns),
                pd.Series(['100 3', 0], index=Start_RunExp.columns),
                pd.Series(['101 3', 0], index=Start_RunExp.columns),
                pd.Series(['110 3', 0], index=Start_RunExp.columns),
                pd.Series(['111 3', 0], index=Start_RunExp.columns)]
    Start_RunExp = Start_RunExp.append(Base_State_3, ignore_index=True)
    End_RunExp  = Start_RunExp.rename(columns={'Start_State':'End_State', 'Start_RE':'End_RE'})
    RE = pd.merge(RE, End_RunExp, on=['End_State'], how='left')
    RE['Run_Value'] = RE['runsOnPlay'] + RE['End_RE'] - RE['Start_RE']
    
    return RE;

In [ ]:
# 3.	Calculate the average run value for each type of event for every season

In [7]:
# Calculate run value for every event in seasons 2014-2017
RE_14 = Run_Expectancy("../Data/MLBAM14.csv") 
RE_15 = Run_Expectancy("../Data/MLBAM15.csv")                          
RE_16 = Run_Expectancy("../Data/MLBAM16.csv") 
RE_17 = Run_Expectancy("../Data/MLBAM17.csv")

In [10]:
# Average run value for each type of event for every season
Event_Value14 = RE_14.groupby(['event'])['Run_Value'].mean().reset_index().rename(columns = {"Run_Value": 'RV14'})
Event_Value15 = RE_15.groupby(['event'])['Run_Value'].mean().reset_index().rename(columns = {"Run_Value": 'RV15'})
Event_Value16 = RE_16.groupby(['event'])['Run_Value'].mean().reset_index().rename(columns = {"Run_Value": 'RV16'})
Event_Value17 = RE_17.groupby(['event'])['Run_Value'].mean().reset_index().rename(columns = {"Run_Value": 'RV17'})

In [ ]:
# 4.	Merge the event level run values for each season into one data frame. 
# The data frame should include the event name and then four columns with the run values (one for each season)

In [11]:
# Merge event run values into one dataframe
Event_Value = pd.merge(Event_Value14, Event_Value15, on=['event'], how='left')
Event_Value = pd.merge(Event_Value, Event_Value16, on=['event'], how='left')
Event_Value = pd.merge(Event_Value, Event_Value17, on=['event'], how='left')
display(Event_Value)

                   event      RV14      RV15      RV16      RV17
0    Batter Interference -0.319625 -0.363838 -0.284649 -0.430019
1         Bunt Groundout -0.194784 -0.200346 -0.218826 -0.209411
2           Bunt Lineout -0.303810 -0.421575 -0.352295 -0.328292
3           Bunt Pop Out -0.316440 -0.354384 -0.342802 -0.373225
4   Catcher Interference  0.380337  0.318276  0.301623  0.399070
5                 Double  0.737518  0.752039  0.743467  0.779338
6            Double Play -0.828774 -0.854665 -0.864981 -0.897164
7       Fan interference  0.633560  0.577453  0.533316  0.590743
8            Field Error  0.462976  0.485460  0.469989  0.493206
9        Fielders Choice  0.698076  0.719351  0.701447  0.764112
10   Fielders Choice Out -0.614846 -0.635007 -0.610757 -0.662400
11                Flyout -0.229247 -0.240853 -0.247896 -0.262548
12              Forceout -0.314060 -0.334019 -0.326657 -0.345347
13      Grounded Into DP -0.744986 -0.768327 -0.773318 -0.818005
14             Groundout -0.194175 -0.205811 -0.212992 -0.224579
15          Hit By Pitch  0.312109  0.330517  0.320569  0.338679
16              Home Run  1.397934  1.387911  1.382476  1.378739
17           Intent Walk  0.161638  0.188343  0.172551  0.180109
18               Lineout -0.229463 -0.243084 -0.248542 -0.259682
19               Pop Out -0.250836 -0.261825 -0.267062 -0.283498
20            Runner Out -0.230461 -0.262082 -0.257904 -0.274991
21              Sac Bunt -0.098461 -0.108046 -0.126691 -0.109283
22               Sac Fly  0.006005 -0.007493  0.023233 -0.032119
23            Sac Fly DP -0.506647 -0.581165 -0.370443 -0.543715
24     Sacrifice Bunt DP -0.728853 -0.752124 -0.752199       NaN
25                Single  0.438810  0.443085  0.440258  0.455773
26             Strikeout -0.242226 -0.253005 -0.259940 -0.269985
27        Strikeout - DP -0.630963 -0.650543 -0.622787 -0.682819
28                Triple  1.065651  1.026352  1.023911  1.063607
29           Triple Play -1.608127 -1.688951 -1.637543 -1.471223
30                  Walk  0.297689  0.314145  0.299404  0.322635

In [ ]:
# 5.	Delete the row for event “Sacrifice Bunt DP”

In [12]:
# Drop row for Sacrifice Bunt DP
Event_Value = Event_Value[Event_Value.event != "Sacrifice Bunt DP"].copy()
display(Event_Value)

                   event      RV14      RV15      RV16      RV17
0    Batter Interference -0.319625 -0.363838 -0.284649 -0.430019
1         Bunt Groundout -0.194784 -0.200346 -0.218826 -0.209411
2           Bunt Lineout -0.303810 -0.421575 -0.352295 -0.328292
3           Bunt Pop Out -0.316440 -0.354384 -0.342802 -0.373225
4   Catcher Interference  0.380337  0.318276  0.301623  0.399070
5                 Double  0.737518  0.752039  0.743467  0.779338
6            Double Play -0.828774 -0.854665 -0.864981 -0.897164
7       Fan interference  0.633560  0.577453  0.533316  0.590743
8            Field Error  0.462976  0.485460  0.469989  0.493206
9        Fielders Choice  0.698076  0.719351  0.701447  0.764112
10   Fielders Choice Out -0.614846 -0.635007 -0.610757 -0.662400
11                Flyout -0.229247 -0.240853 -0.247896 -0.262548
12              Forceout -0.314060 -0.334019 -0.326657 -0.345347
13      Grounded Into DP -0.744986 -0.768327 -0.773318 -0.818005
14             Groundout -0.194175 -0.205811 -0.212992 -0.224579
15          Hit By Pitch  0.312109  0.330517  0.320569  0.338679
16              Home Run  1.397934  1.387911  1.382476  1.378739
17           Intent Walk  0.161638  0.188343  0.172551  0.180109
18               Lineout -0.229463 -0.243084 -0.248542 -0.259682
19               Pop Out -0.250836 -0.261825 -0.267062 -0.283498
20            Runner Out -0.230461 -0.262082 -0.257904 -0.274991
21              Sac Bunt -0.098461 -0.108046 -0.126691 -0.109283
22               Sac Fly  0.006005 -0.007493  0.023233 -0.032119
23            Sac Fly DP -0.506647 -0.581165 -0.370443 -0.543715
25                Single  0.438810  0.443085  0.440258  0.455773
26             Strikeout -0.242226 -0.253005 -0.259940 -0.269985
27        Strikeout - DP -0.630963 -0.650543 -0.622787 -0.682819
28                Triple  1.065651  1.026352  1.023911  1.063607
29           Triple Play -1.608127 -1.688951 -1.637543 -1.471223
30                  Walk  0.297689  0.314145  0.299404  0.322635

In [ ]:
# 6.	Compute the correlation matrix for event level run values across all seasons

In [13]:
# Compute correlation matrix
Event_Value.corr()

          RV14      RV15      RV16      RV17
RV14  1.000000  0.998819  0.997951  0.997153
RV15  0.998819  1.000000  0.997570  0.996412
RV16  0.997951  0.997570  1.000000  0.994964
RV17  0.997153  0.996412  0.994964  1.000000

In [ ]:
# Q1: Which two seasons have the strongest correlation between run values?

In [ ]:
# 7.	For each event, calculate the sum of squares between run values using the data from all four seasons and create a column for this sum of squares variable
# Run Value Sum of Squares = (RV14 – RVm)2 + (RV15 – RVm)2 + (RV16 – RVm)2 + (RV17 – RVm)2, where RVm = mean run value of event across all seasons

In [14]:
# Calculate sum of squares
Event_Value['Avg_RV'] = (Event_Value['RV14'] + Event_Value['RV15'] + Event_Value['RV16'] + Event_Value['RV17'])/4
Event_Value['SumSq'] = (Event_Value['RV14']-Event_Value['Avg_RV'])**2 + (Event_Value['RV15']-Event_Value['Avg_RV'])**2 + (Event_Value['RV16']-Event_Value['Avg_RV'])**2 + (Event_Value['RV17']-Event_Value['Avg_RV'])**2
display(Event_Value)

,event,RV14,RV15,RV16,RV17,Avg_RV,SumSq
0,Batter Interference,-0.319625,-0.363838,-0.284649,-0.430019,-0.349533,0.011787
1,Bunt Groundout,-0.194784,-0.200346,-0.218826,-0.209411,-0.205842,0.000334
2,Bunt Lineout,-0.303810,-0.421575,-0.352295,-0.328292,-0.351493,0.007724
3,Bunt Pop Out,-0.316440,-0.354384,-0.342802,-0.373225,-0.346713,0.001694
4,Catcher Interference,0.380337,0.318276,0.301623,0.399070,0.349826,0.006675
5,Double,0.737518,0.752039,0.743467,0.779338,0.753091,0.001025
6,Double Play,-0.828774,-0.854665,-0.864981,-0.897164,-0.861396,0.002402
7,Fan interference,0.633560,0.577453,0.533316,0.590743,0.583768,0.005113
8,Field Error,0.462976,0.485460,0.469989,0.493206,0.477908,0.000577
9,Fielders Choice,0.698076,0.719351,0.701447,0.764112,0.720747,0.002769
10,Fielders Choice Out,-0.614846,-0.635007,-0.610757,-0.662400,-0.630752,0.001672
11,Flyout,-0.229247,-0.240853,-0.247896,-0.262548,-0.245136,0.000582
12,Forceout,-0.314060,-0.334019,-0.326657,-0.345347,-0.330021,0.000517
13,Grounded Into DP,-0.744986,-0.768327,-0.773318,-0.818005,-0.776159,0.002792
14,Groundout,-0.194175,-0.205811,-0.212992,-0.224579,-0.209389,0.000488
15,Hit By Pitch,0.312109,0.330517,0.320569,0.338679,0.325468,0.000402
16,Home Run,1.397934,1.387911,1.382476,1.378739,1.386765,0.000209
17,Intent Walk,0.161638,0.188343,0.172551,0.180109,0.175660,0.000387
18,Lineout,-0.229463,-0.243084,-0.248542,-0.259682,-0.245193,0.000473
19,Pop Out,-0.250836,-0.261825,-0.267062,-0.283498,-0.265805,0.000555
20,Runner Out,-0.230461,-0.262082,-0.257904,-0.274991,-0.256359,0.001053
21,Sac Bunt,-0.098461,-0.108046,-0.126691,-0.109283,-0.110620,0.000415
22,Sac Fly,0.006005,-0.007493,0.023233,-0.032119,-0.002594,0.001637
23,Sac Fly DP,-0.506647,-0.581165,-0.370443,-0.543715,-0.500493,0.025327
25,Single,0.438810,0.443085,0.440258,0.455773,0.444481,0.000179
26,Strikeout,-0.242226,-0.253005,-0.259940,-0.269985,-0.256289,0.000409
27,Strikeout - DP,-0.630963,-0.650543,-0.622787,-0.682819,-0.646778,0.002139
28,Triple,1.065651,1.026352,1.023911,1.063607,1.044880,0.001565
29,Triple Play,-1.608127,-1.688951,-1.637543,-1.471223,-1.601461,0.025963
30,Walk,0.297689,0.314145,0.299404,0.322635,0.308468,0.000431

In [15]:
# Q2: Which event has the highest sum of squares value?
max(Event_Value['SumSq'])

0.025962645475026698

In [ ]:
# Q3: What was the average run value of a “Flyout” in 2014?

# II. Comparing Player Run Values

In [ ]:
#Your Code Here

In [ ]:
# 1.	Compute the aggregate player level run values for each season

In [23]:
# Aggregate player level run values for each season
Player_Value14 = RE_14.groupby(['batterId','batterName'])['Run_Value'].sum().reset_index().rename(columns = {"Run_Value": 'RV14'})
Player_Value15 = RE_15.groupby(['batterId','batterName'])['Run_Value'].sum().reset_index().rename(columns = {"Run_Value": 'RV15'})
Player_Value16 = RE_16.groupby(['batterId','batterName'])['Run_Value'].sum().reset_index().rename(columns = {"Run_Value": 'RV16'})
Player_Value17 = RE_17.groupby(['batterId','batterName'])['Run_Value'].sum().reset_index().rename(columns = {"Run_Value": 'RV17'})

In [ ]:
# 2.	Merge player run values for each season into one data frame so that only players with run values for all four seasons are included in the data frame. 
# The data frame should include each player’s name and then four columns with the run values (one for each season)

In [24]:
# Merge player run values into one data frame
Player_Value = pd.merge(Player_Value14, Player_Value15, on=['batterId','batterName'])
Player_Value = pd.merge(Player_Value, Player_Value16, on=['batterId','batterName'])
Player_Value = pd.merge(Player_Value, Player_Value17, on=['batterId','batterName'])
display(Player_Value)

     batterId     batterName       RV14       RV15       RV16       RV17
0      112526          Colon  -0.709186  -8.838568 -15.380841  -6.053060
1      134181         Beltre  29.004125  11.918638  29.745115  27.205050
2      136860        Beltran  -6.208773   2.355753  21.279393 -16.883042
3      150029          Werth  37.882267  -3.377653   6.368448  -7.246145
4      282332       Sabathia  -1.118087  -0.472414  -0.944580  -0.292495
5      285079         Dickey  -2.106986  -0.858198  -0.291686 -11.955467
6      400085      Suzuki, I  -3.235189 -24.883224  -2.577561   1.083044
7      400121    Martinez, V  54.087837 -10.998931   7.335464 -16.021087
8      400284          Utley  15.964367 -12.196781   6.689794  -1.799883
9      405395         Pujols  17.629365   9.840138  15.581010 -13.892055
10     407793         Lackey  -2.015591  -7.989671 -14.016121 -10.681085
11     407812       Holliday  37.920762  11.346828  11.609729   2.757927
12     407822  De La Rosa, J  -8.314788 -12.220365  -2.222822   0.250916
13     408045          Mauer  15.928912  11.242622   3.738712  32.012389
14     408236    Gonzalez, A  25.890600  29.312333  18.186314  -7.670641
15     408252       Phillips  -3.988254   8.743273  -2.507057  -5.977811
16     425772         Mathis -11.426077  -6.583661  -4.741811 -16.127175
17     425783           Choo   4.642103  37.127191   7.278887  22.048473
18     425784      Rivera, R   9.954379 -27.134237  -6.810194  -2.159875
19     425794     Wainwright  -6.095652  -2.541723   4.398501  -0.042135
20     425844        Greinke  -4.446119  -9.303076  -6.842665  -7.223913
21     425877         Molina  -8.578706 -12.902661   2.929933  -2.878628
22     429664           Cano  32.486751  15.132937  28.497452  26.869401
23     429665    Encarnacion  33.194263  48.234512  36.225266  21.707405
24     429666          Hardy   0.884675 -23.567081  -2.402668 -19.928385
25     429719     Jackson, E  -4.815355  -0.305414   0.742394  -4.723391
26     430001      Weeks Jr.   3.150116  -3.888698   6.696188  -0.429381
27     430605         Raburn -12.204066  12.190048  -4.823941  -3.039671
28     430832       Bautista  46.534280  48.917119  15.171797 -15.256682
29     430912        Cain, M  -2.836784  -4.650241  -3.342352  -5.236531
..        ...            ...        ...        ...        ...        ...
342    593372    Martinez, C  -0.075965 -10.336837  -1.937937  -5.086587
343    593428       Bogaerts -21.432605  10.136130  17.264942   0.620388
344    593871     Polanco, J   3.050084   1.388791   5.987791   4.381809
345    594798         deGrom  -5.525731  -6.258311  -8.532559  -9.500759
346    594807         Duvall  -5.075918   1.078594  21.819293 -11.639746
347    594809          Eaton  22.405051  14.071067   9.233200   8.882394
348    594824      Garcia, G  -0.929807   2.267374  -0.904549  -0.601546
349    594828         Gattis   9.585231   2.230121   4.864475  -1.561255
350    594838       Gosselin  -0.810824   8.066976  -6.524479  -8.778541
351    595281      Kiermaier  -0.453534  -0.750437   0.424047   1.037087
352    595879        Baez, J -13.237434  -3.626811  -0.453995  11.435532
353    596059           Odor   1.376038   8.798437  11.679587 -36.464351
354    596143       Sardinas  -7.549591 -11.145815  -3.217740  -5.466866
355    600303      La Stella  -5.062211   1.582041  -2.320362  12.112265
356    605113          Ahmed  -5.739550  -8.505689 -23.000581  -4.176089
357    605125          Asche  -3.140374 -10.733676  -3.013706  -8.008246
358    605141          Betts   8.729840  34.452700  36.363718  25.043520
359    605253           Gore   0.193805  -0.614695  -0.732764  -0.666892
360    605412          Panik   0.150425   4.911498   2.106259   6.488185
361    605486    Spangenberg   0.713395  -2.946039   3.838010  -1.999169
362    606160     Montero, R  -2.346471  -0.300619  -1.200708  -3.946670
363    607259    Martinez, N  -0.571176  -0.101313  -0.336004  -0.182212
364    607385    Collins, Ty  -0.243827   5.134559  -0.963884 -10.181319
365    607387            Rua   1.734099  -1.735442 -12.080473  -2.629472
366    607680         Pillar  -4.410263  -0.023074  -4.311137 -26.049496
367    608379          Wacha  -5.461352  -6.021507 -10.598557 -12.735364
368    621035      Taylor, C  -1.686367  -8.587988  -2.211697  20.588698
369    622072        Wood, A  -5.490464 -10.162674  -2.623027 -11.017261
370    624577           Puig  31.184967   1.223632   1.871468   5.385486
371    624585          Soler   6.658594  -0.030906   0.719051 -11.179351

[372 rows x 6 columns]

In [ ]:
# 3.	Compute the correlation matrix for event level run values across all seasons

In [25]:
# Compute correlation matrix
Player_Value.corr()

          batterId      RV14      RV15      RV16      RV17
batterId  1.000000 -0.144210 -0.003344 -0.056668  0.091117
RV14     -0.144210  1.000000  0.466299  0.426629  0.322764
RV15     -0.003344  0.466299  1.000000  0.546136  0.510132
RV16     -0.056668  0.426629  0.546136  1.000000  0.457391
RV17      0.091117  0.322764  0.510132  0.457391  1.000000

In [ ]:
# Q1: What was the correlation in player run values between 2014 and 2016?

In [ ]:
# 4.	Run a regression model by regressing player run values from 2017 (dependent variable) on player run values from 2014, 2015, and 2016 (independent variables)

In [26]:
# Regression model
import statsmodels.formula.api as smf

RV_Reg = smf.ols(formula = 'RV17 ~ RV14 + RV15 + RV16', data=Player_Value).fit()
RV_Reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   RV17   R-squared:                       0.308
Model:                            OLS   Adj. R-squared:                  0.302
Method:                 Least Squares   F-statistic:                     54.61
Date:                Thu, 19 Dec 2024   Prob (F-statistic):           3.20e-29
Time:                        19:46:23   Log-Likelihood:                -1458.4
No. Observations:                 372   AIC:                             2925.
Df Residuals:                     368   BIC:                             2941.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.0472      0.650      0.073      0.942      -1.231       1.326
RV14           0.0620      0.056      1.101      0.272      -0.049       0.173
RV15           0.3509      0.054      6.480      0.000       0.244       0.457
RV16           0.2673      0.059      4.532      0.000       0.151       0.383
==============================================================================
Omnibus:                       39.399   Durbin-Watson:                   1.924
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               89.833
Skew:                           0.548   Prob(JB):                     3.11e-20
Kurtosis:                       5.144   Cond. No.                         20.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
# Q2: What is the R-squared for the regression model run in step 4?

In [ ]:
# Q3: What is the regression coefficient of RV15 when used as an independent variable in the regression?

# III. Comparing Team Run Values

In [ ]:
#Your Code Here

In [ ]:
# 1.	For each season’s run expectancy data frame, create a variable “team” to denote the batting team

In [27]:
# Create team variable in each data frame
RE_14['team']= np.where(RE_14['half']=='top',RE_14['away_team'],RE_14['home_team'])
RE_15['team']= np.where(RE_15['half']=='top',RE_15['away_team'],RE_15['home_team'])
RE_16['team']= np.where(RE_16['half']=='top',RE_16['away_team'],RE_16['home_team'])
RE_17['team']= np.where(RE_17['half']=='top',RE_17['away_team'],RE_17['home_team'])

In [ ]:
# 2.	Compute the aggregate team level run values for each season

In [28]:
# Compute aggregate team level run values by season
REteam_14= RE_14.groupby(['team'])['Run_Value'].sum().reset_index().rename(columns= {"Run_Value": 'RV14'})
REteam_15= RE_15.groupby(['team'])['Run_Value'].sum().reset_index().rename(columns= {"Run_Value": 'RV15'})
REteam_16= RE_16.groupby(['team'])['Run_Value'].sum().reset_index().rename(columns= {"Run_Value": 'RV16'})
REteam_17= RE_17.groupby(['team'])['Run_Value'].sum().reset_index().rename(columns= {"Run_Value": 'RV17'})

In [ ]:
# 3.	Merge team run values for each season into one data frame. 
# The data frame should include each team’s name and then four columns with the run values (one for each season)

In [29]:
# Merge run values into one dataframe
REteam = pd.merge(REteam_14, REteam_15, on=['team'])
REteam = pd.merge(REteam, REteam_16, on=['team'])
REteam = pd.merge(REteam, REteam_17, on=['team'])
display(REteam)

   team        RV14        RV15        RV16        RV17
0   ana  104.641532  -25.056067   -3.184209  -47.579782
1   ari  -48.253012   31.924551   15.870968   62.616716
2   atl  -81.885752 -108.464134  -84.633901  -28.259905
3   bal   46.586965   29.882644   29.297940  -23.678031
4   bos  -37.383914   65.372953  160.812546    9.445347
5   cha   -1.307578  -79.136738  -41.643638  -47.416033
6   chn  -54.987532   -3.627047   85.327151   71.002092
7   cin  -57.227567  -61.401274  -17.643638    5.420218
8   cle   -3.725729   -4.178644   48.815791   73.780465
9   col   92.456063   47.127799  122.825528   78.616716
10  det  104.034237   -3.565758   30.327151  -14.997908
11  hou  -21.754850   47.413289  -19.624164  152.296840
12  kca   -0.991208   39.250376  -60.666358  -54.514283
13  lan   61.903335  -17.872201   -2.161489   17.747715
14  mia  -25.016653  -73.525423  -61.672849   25.871093
15  mil   -6.885752  -26.157691  -48.679340  -11.383284
16  min   59.586965    6.127799  -15.633901   69.583967
17  nya  -29.729405   76.434242  -40.203683  107.485717
18  nyn  -38.805740  -11.136738  -54.164735  -15.030657
19  oak   63.139694    3.618108  -79.161489  -19.481533
20  phi  -56.278457  -64.504469 -115.656621  -68.259905
21  pit   25.746988   -8.360939    5.343379  -92.128907
22  sdn -123.071220  -37.096402  -49.650129 -143.030657
23  sea  -14.834861  -37.667382   29.353117   -3.448783
24  sfn    8.877890   13.597155  -17.142015 -126.489153
25  sln  -33.176676  -46.504469   48.336888    6.838344
26  tba  -51.805740  -41.096402  -47.167980  -57.161656
27  tex  -17.176676   71.413289   41.812546   48.002092
28  tor   69.954225  208.698779   25.851494  -81.456403
29  was   23.114248   21.127799   32.825528   64.616716

In [ ]:
# 4.	Compute the correlation matrix for event level run values across all seasons

In [30]:
# Compute correlation matrix
REteam.corr()

          RV14      RV15      RV16      RV17
RV14  1.000000  0.363681  0.261814  0.065225
RV15  0.363681  1.000000  0.437610  0.193061
RV16  0.261814  0.437610  1.000000  0.351708
RV17  0.065225  0.193061  0.351708  1.000000

In [ ]:
# Q1: What was the correlation in team run values between 2014 and 2017?

In [ ]:
# 5.	Run a regression model by regressing team run values from 2017 (dependent variable) on team run values from 2014, 2015, and 2016 (independent variables)

In [31]:
# Regression model
TeamRV_Reg = smf.ols(formula = 'RV17 ~ RV14 + RV15 + RV16', data=REteam).fit()
TeamRV_Reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   RV17   R-squared:                       0.127
Model:                            OLS   Adj. R-squared:                  0.027
Method:                 Least Squares   F-statistic:                     1.265
Date:                Thu, 19 Dec 2024   Prob (F-statistic):              0.307
Time:                        20:08:51   Log-Likelihood:                -166.93
No. Observations:                  30   AIC:                             341.9
Df Residuals:                      26   BIC:                             347.5
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.4437     12.406     -0.036      0.972     -25.944      25.056
RV14          -0.0553      0.241     -0.230      0.820      -0.550       0.440
RV15           0.0706      0.240      0.294      0.771      -0.424       0.565
RV16           0.3788      0.231      1.638      0.113      -0.097       0.854
==============================================================================
Omnibus:                        0.584   Durbin-Watson:                   1.712
Prob(Omnibus):                  0.747   Jarque-Bera (JB):                0.061
Skew:                           0.065   Prob(JB):                        0.970
Kurtosis:                       3.179   Cond. No.                         77.2
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
# Q2: What is the R-squared for the regression model run in step 5?

In [ ]:
# Q3: What is the regression coefficient of RV16 when used as an independent variable in the regression??

In [ ]:
# Q4: Which independent variable(s) had coefficients that were significant in the player level regression but insignificant in the team level regression (at the .05 significance level)?